---
type Props = Record<string, never>;
//Klik på kortene nedenfor for at lære mere om mine tekniske kompetencer.
---

<p class="body-text">
  <br />
  <br />
  Click the cards below to learn more about my tech skills.
  <br />
  <br />
</p>
