---
import Sparkle from '@components/sparkle/Sparkle.astro';

type Props = Record<string, never>;
//Klik på kortene nedenfor for at lære mere om mine tekniske kompetencer.
---

<p class="body-text">
  <br />
  <br />
</p>
<Sparkle>
  <p class="body-text">
    {'Click the cards to learn more about my tech skills.'}
  </p>
</Sparkle>
<p class="body-text">
  <br />
  <br />
</p>
