@keyframes unwrapImage {
  0% {
    transform: translateX(calc(var(--index) * -100px)) rotate(0);
  }
  100% {
    transform: translateX(0)
      rotate(calc(var(--rotation) * var(--rotate-direction, 1)));
  }
}

.imageGridContainer {
  container-name: imageGrid;
  container-type: inline-size;
  display: grid;
  gap: 0.5rem;
  max-width: calc(20cqi * var(--number-of-images) - 4rem);
  min-width: 70%;
  margin-block: 2rem;
  margin-inline: auto;
  & a {
    display: flex;
    outline-offset: var(--outline-offset);
    transition: all 250ms;
    transform-origin: 50% 50%;
    transform: rotate(calc(var(--rotation) * var(--rotate-direction, 1)));
    &[data-reverse-rotate] {
      --rotate-direction: -1;
    }
    &:hover,
    &:focus-visible {
      transform: scale(1.05)
        rotate(calc(var(--rotation) * var(--rotate-direction, 1)));
      & .photocard {
        box-shadow: var(--stacks-6-shadow);
        background-color: light-dark(
          var(--system-light-200),
          var(--system-dark-400)
        );
      }
    }
  }
  &:not([inert='true']) {
    & a:not([data-disable-animation='true']) {
      animation: unwrapImage 300ms calc(var(--index) * 150ms) ease-in-out;
    }
  }
}

.photocard {
  border-radius: var(--border-radius-sm);
  height: inherit;
  width: fit-content;
  background-color: light-dark(var(--system-light-200), var(--system-dark-400));
  padding-inline: 5px;
  padding-block: 5px 25px;
  box-shadow: var(--stacks-5-shadow);
  & picture {
    overflow: hidden;
    border-radius: 2px;
    height: 100%;
    filter: sepia(60%);
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 2px;
      box-shadow: inset 0 0 10px 3px #00000066;
    }
  }
}

/* Make sure the images are on top of the backdrop during the transition */
::view-transition-group(img1),
::view-transition-group(img2),
::view-transition-group(img3),
::view-transition-group(img4),
::view-transition-group(img5),
::view-transition-group(img6),
::view-transition-group(img7),
::view-transition-group(img8),
::view-transition-group(img9),
::view-transition-group(img10),
::view-transition-group(img11) {
  z-index: 1;
}
