@layer components {
  @keyframes unwrapImage {
    0% {
      transform: translateX(calc(var(--index) * -100px)) translateY(40px)
        rotate(calc(var(--rotation) * var(--rotate-direction, 1) * -1));
      opacity: 40%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      transform: translateX(0)
        rotate(calc(var(--rotation) * var(--rotate-direction, 1)));
    }
  }

  .imageGridContainer {
    container-name: imageGrid;
    container-type: inline-size;
    display: grid;
    gap: 0.5rem;
    max-width: calc(20cqi * var(--number-of-images) - 4rem);
    min-width: 70%;
    margin-block: 2rem;
    margin-inline: auto;
    & a {
      display: flex;
      outline-offset: var(--outline-offset);
      transition: all 250ms;
      transform-origin: 50% 50%;
      /* fallback rotation for browsers that don't support animation-timeline */
      transform: rotate(calc(var(--rotation) * var(--rotate-direction, 1)));
      &[data-reverse-rotate] {
        --rotate-direction: -1;
      }
      & .photocard {
        box-shadow: var(--stacks-6-shadow);
        background-color: light-dark(
          var(--system-light-200),
          var(--system-dark-400)
        );
        transition: transform 250ms;
        &:hover,
        &:focus-visible {
          transform: scale(1.05);
        }
      }
    }
    &:not([inert='true']) {
      & a {
        @supports (animation-timeline: view()) and (animation-range: normal) {
          @media (prefers-reduced-motion: no-preference) {
            animation-timeline: view();
            animation-name: unwrapImage;
            animation-fill-mode: both;
            animation-timing-function: linear;
            animation-range: entry 55% entry 150%;
          }
        }
      }
    }
  }

  .anchor {
    &[data-disabled] {
      pointer-events: none;
      cursor: not-allowed;
      & .photocard {
        filter: grayscale(90%);
        background-color: var(--system-light-500);
      }
    }
    & .photoWrapper {
      height: 100%;
    }
  }

  .photocard {
    border-radius: var(--border-radius-sm);
    height: inherit;
    width: 100%;
    background-color: light-dark(
      var(--system-light-200),
      var(--system-dark-400)
    );
    padding: 5px 5px 25px;
    box-shadow: var(--stacks-5-shadow);

    & picture {
      height: 100%;
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        box-shadow: inset 0 0 10px 3px #00000066;
      }
    }
    & .placeholder,
    & picture {
      border-radius: 2px;
      filter: sepia(60%);
      &[data-disabled] {
        filter: grayscale(90%);
      }
    }
  }

  /* Make sure the images are on top of the backdrop during the transition */
  ::view-transition-group(img1),
  ::view-transition-group(img2),
  ::view-transition-group(img3),
  ::view-transition-group(img4),
  ::view-transition-group(img5),
  ::view-transition-group(img6),
  ::view-transition-group(img7),
  ::view-transition-group(img8),
  ::view-transition-group(img9),
  ::view-transition-group(img10),
  ::view-transition-group(img11) {
    z-index: 102;
  }

  ::view-transition-image-pair(img1),
  ::view-transition-image-pair(img2),
  ::view-transition-image-pair(img3),
  ::view-transition-image-pair(img4),
  ::view-transition-image-pair(img5),
  ::view-transition-image-pair(img6),
  ::view-transition-image-pair(img7),
  ::view-transition-image-pair(img8),
  ::view-transition-image-pair(img9),
  ::view-transition-image-pair(img10),
  ::view-transition-image-pair(img11) {
    isolation: isolate;
  }

  ::view-transition-old(img1),
  ::view-transition-old(img2),
  ::view-transition-old(img3),
  ::view-transition-old(img4),
  ::view-transition-old(img5),
  ::view-transition-old(img6),
  ::view-transition-old(img7),
  ::view-transition-old(img8),
  ::view-transition-old(img9),
  ::view-transition-old(img10),
  ::view-transition-old(img11) {
    block-size: 100%;
    object-fit: contain;
  }

  .imageGridPicture {
    min-width: 0;
  }
}
