# Facebook app id 
FACEBOOK_APP_ID=123412341234123
# username of email account used to send emails
MAIL_USER=somename@example.com
# username of email account used to send emails
MAIL_PASSWORD=VeryStR0ngP@ssword
# email address used for sending no-reply emails
NOREPLY_PRIVATE_EMAIL_USER=noreply@example.com
# email address used for sending contact emails to site owner
PRIVATE_EMAIL_USER=someSiteOwner@example.com
# Environment - either: production or development
# In development mode no emails will be sent
NODE_ENV=development
# URL of site - can be http or https
SITE_URL=https://example.com
# Block indexing of all pages - can be used before the site is ready to be launched
BLOCK_ALL_INDEXING=false