# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# TS build info
*.tsbuildinfo

# environment variables
.env

# macOS-specific files
.DS_Store

# Local Wrangler folder
.wrangler/

# Build cache
.cache/
