---
import {
  getLangFromUrl,
  removeTrailingSlash,
  useTranslatedPath,
  getEnglishTranslation,
} from '@i18n/utils';
import { defaultLang, type Language } from '@i18n/settings';
import styles from './languageToggle.module.css';
import type { StringWithTrailingSlash } from '@customTypes/index';

type Props = {
  withBackground?: boolean;
  /** Manually overwrite the URLs on the toggle */
  translationUrls?: Record<Language, string>;
};

const { withBackground, translationUrls } = Astro.props;

function translatePath(
  path: StringWithTrailingSlash,
  from: Language,
  to: Language
): string {
  if (from === to) return path;

  if (from === defaultLang) {
    return path === '/' ? '/da/' : useTranslatedPath(from)(path, to);
  }

  if (path === '/da/') return '/'; // special case for Danish index
  return getEnglishTranslation(from, path, '/'); // fallback to English index
}

const currentPath = `${removeTrailingSlash(Astro.url.pathname)}/` as const;

const lang = getLangFromUrl(Astro.url);

const englishUrl =
  translationUrls?.en || translatePath(currentPath, lang, 'en');
const danishUrl = translationUrls?.da || translatePath(currentPath, lang, 'da');
---

<div
  class={styles.languageToggle}
  data-with-background={withBackground || undefined}
  aria-label={lang === 'en'
    ? 'Showing English version. Click to view Danish version.'
    : 'Viser dansk version. Klik for at se den engelske version.'}
>
  <a
    tabindex={lang === 'en' ? -1 : 0}
    aria-disabled={lang === 'en' || undefined}
    href={englishUrl}
  >
    EN
  </a>
  <span>|</span>
  <a
    tabindex={lang === 'da' ? -1 : 0}
    aria-disabled={lang === 'da' || undefined}
    href={translationUrls?.da || danishUrl}
  >
    DA
  </a>
</div>
