.share-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-block: 48px 32px;
  margin-inline: 4rem;
  justify-content: center;
  margin-inline: 23cqi;
  gap: 16px;
}

.squircle,
Picture,
img {
  width: 48px;
  height: 48px;
}
