.pageLabel {
  view-transition-name: page-label;
  container-name: pageLabel;
  container-type: inline-size;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  height: fit-content;

  & :global(.squircle) {
    &[data-with-shadow] {
      &::before {
        box-shadow: var(--stacks-6-shadow);
      }
    }
  }
  & h1 {
    color: var(--system-dark-300);
    font-size: clamp(var(--font-size-5), 6cqi, var(--font-size-8));
    line-height: 0.9;
    font-weight: 700;
  }
}

.tagline {
  view-transition-name: tagline;
  color: light-dark(var(--system-dark-200), var(--system-dark-300-80));
  max-width: 170px;
  flex: 4 0 120px;
}

.iconAndTitle {
  display: flex;
  align-items: center;
  gap: 16px;
  & :global(.squircle) {
    flex: 1;
  }
  & Picture {
    width: 96px;
    height: 96px;
    background-size: cover;
  }
}
