---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import GitHubIcon from '../icons/GitHubIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import styles from './socialLinks.module.css';
import BlueSkyIcon from '../icons/BlueSkyIcon.astro';

type Props = {
  alternativeColors?: boolean;
  onCard?: boolean;
};

const { alternativeColors, onCard } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'navigation');
---

<script>
  import { initializeKeyboardArrowNavigation } from '@utils/keyboardArrowNavigation';
  import styles from './socialLinks.module.css';

  //there may be more than one element with this class on the page - we needd to initialize the keyboard navigation for each of them
  const elements: HTMLElement[] = Array.from(
    document.querySelectorAll(`nav.${styles.socialLinks}`)
  );

  elements.forEach((element) => {
    initializeKeyboardArrowNavigation(element);
  });
</script>
<nav
  class={styles.socialLinks}
  data-alt-colors={alternativeColors || undefined}
  aria-labelledby=`socialLinksTitle${onCard ? 1 : 2}`
  role="listbox"
>
  <h2 id=`socialLinksTitle${onCard ? 1 : 2}` class="sr-only">
    {t('follow_me')}
  </h2>
  <a
    role="option"
    href="https://linkedin.com/in/lars-ejaas"
    target="_blank"
    rel="noopener noreferrer"
    aria-label={t('linkedin_label')}
    data-arrow-nav="true"
  >
    <LinkedInIcon title={t('linkedin_label')} />
  </a>
  <a
    role="option"
    href="https://bsky.app/profile/larsejaas.bsky.social"
    target="_blank"
    rel="noopener noreferrer"
    aria-label={t('bluesky_label')}
    data-arrow-nav="true"
  >
    <BlueSkyIcon title={t('bluesky_label')} />
  </a>
  <a
    role="option"
    href="https://github.com/LarsEjaas"
    target="_blank"
    rel="noopener noreferrer"
    aria-label={t('github_label')}
    data-arrow-nav="true"
  >
    <GitHubIcon title={t('github_label')} />
  </a>
</nav>
