@layer components {
  .popoverContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    line-height: 1;
    min-width: 286px;
  }

  .popoverTop {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .avatarPlaceholder {
    width: 100%;
    aspect-ratio: 1/1;
    z-index: -1;
    border-radius: 50%;
  }

  .avatarWrapper {
    composes: profileWrapper from '@components/bluesky/authorAvatar.module.css';
  }

  .viewProfileOnBluesky {
    composes: viewOnBluesky from '@components/bluesky/blueskyThread.module.css';
  }

  .displayName {
    font-size: var(--font-size-3);
    color: light-dark(var(--system-dark-400), var(--system-dark-100));
    margin-bottom: -6px;
  }

  .handle {
    font-size: var(--font-size-2);
    margin-top: 0;
    color: light-dark(var(--system-dark-100), var(--system-dark-300-55));
    white-space-collapse: collapse;
  }

  .followersWrapper {
    display: flex;
    font-size: var(--font-size-1);
    color: light-dark(var(--system-dark-300), var(--system-dark-300-80));
    margin-top: -6px;
    & b {
      color: light-dark(var(--system-dark-400), var(--system-dark-100));
    }
  }

  .description {
    color: light-dark(var(--system-dark-400), var(--system-dark-100));
    white-space: pre-line;
  }

  .descriptionLink {
    composes: postLink from '@components/bluesky/threadRenderer.module.css';
  }
}
