.likesWrapper {
  color: light-dark(var(--system-shadow-7), var(--system-light-400));
  line-height: 0;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  margin-right: auto;
  padding-left: 13.5px;
  & > svg {
    flex-shrink: 0;
    margin-block: 8px;
  }
}

.avatarStack {
  display: flex;
  isolation: isolate;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 10.5px;
  --border-color: light-dark(#f6f8f8, #2d3637);
  & > * {
    margin-left: -0.5rem;
  }
}

.likeProfileButton {
  position: relative;
  outline-offset: 3px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  transition:
    transform 300ms ease-in-out,
    margin 300ms ease-in-out;
  border: 2px solid var(--border-color);
  &:hover,
  &:focus-visible,
  &:has(+ div[popover]:popover-open) {
    transform: translate(-0.6rem, -0.5rem) scale(1.25);
  }
}

.likeButtonContent {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.additionalLikes {
  width: 36px;
  height: 36px;
  border: 2px solid var(--border-color);
  background-color: light-dark(var(--system-dark-100), var(--system-light-400));
  z-index: 1;
  color: var(--system-light-200);
  border-radius: 50%;
  font-size: var(--font-size-1);
  font-weight: 600;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
}

.popoverWrapper {
  padding-top: 0;
}

.popoverContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1;
}

.popoverTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avatarPlaceholder {
  width: 100%;
  aspect-ratio: 1/1;
  z-index: -1;
  border-radius: 50%;
}

.avatarWrapper {
  composes: profileWrapper from '@components/bluesky/bluesky.module.css';
}

.viewProfileOnBluesky {
  composes: viewOnBluesky from '@components/bluesky/bluesky.module.css';
}

.displayName {
  font-size: var(--font-size-3);
  color: light-dark(var(--system-dark-400), var(--system-dark-100));
  margin-bottom: -6px;
}

.handle {
  font-size: var(--font-size-2);
  margin-top: 0;
  color: light-dark(var(--system-dark-100), var(--system-dark-300-55));
}

.followersWrapper {
  display: flex;
  font-size: var(--font-size-1);
  color: light-dark(var(--system-dark-300), var(--system-dark-300-80));
  margin-top: -6px;
  & b {
    color: light-dark(var(--system-dark-400), var(--system-dark-100));
  }
}

.description {
  color: light-dark(var(--system-dark-400), var(--system-dark-100));
  white-space: pre-line;
}

.descriptionLink {
  composes: postLink from '@components/bluesky/bluesky.module.css';
}
