.timelineWrapper {
  display: flex;
  @media (min-width: 769px) {
    gap: 8px;
  }
}

.tipsWrapper {
  display: flex;
  flex-direction: column;
  column-gap: 4px;
  width: 100%;
  max-width: 826px;
}

.profileInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--system-dark-300);
  font-size: var(--font-size-3);
  font-weight: 600;
  margin-left: -0.5rem;
  @media (min-width: 769px) {
    margin-left: unset;
  }
}

.avatar {
  @media (max-width: 768px) {
    width: 36px;
    height: 36px;
  }
}

.toc {
  background-color: var(--system-light-300-55);
  border-top: 1px solid var(--system-light-300-55);
  box-shadow: var(--stacks-6-shadow);
  padding: 8px;
  border-radius: var(--border-radius-md);
  max-width: 248px;
  position: sticky;
  top: 96px;
  display: none;
  flex-direction: column;
  gap: 4px;
  @media (min-width: 769px) {
    display: flex;
  }
}

.tocList {
  padding-inline-start: 0;
  display: contents;
}

.tocItem {
  list-style: none;
  text-wrap: nowrap;
  & a {
    border-radius: var(--border-radius-sm);
    color: light-dark(var(--system-dark-200), var(--system-dark-300-80));
    display: block;
    padding: 4px;
    font-size: var(--font-size-2);
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.4s;
    line-height: 1.2;
    &:visited {
      color: light-dark(var(--system-dark-200), var(--system-dark-300-80));
    }
    &:active,
    &:focus-visible,
    &:hover {
      background-color: var(--system-dark-200-16);
    }
  }
}

.collapsibleThread {
  display: grid;
  --timelineWidth: 36px;
  grid-template-columns: var(--timelineWidth) 1fr;
  grid-template-rows: 36px minmax(0, 1fr);
  column-gap: 4px;
  color: var(--system-dark-300-55);
  margin-left: -0.5rem;
  @media (min-width: 769px) {
    margin-left: 0;
    --timelineWidth: 48px;
  }
  &::details-content {
    content-visibility: visible !important;
    display: contents !important;
  }
  & summary {
    border-radius: 50%;
    display: grid;
    justify-items: center;
    row-gap: 4px;
    cursor: pointer;
    margin-inline: calc((var(--timelineWidth) - 36px) / 2);
    &::marker,
    &:is(::-webkit-details-marker) {
      content: none;
    }
    & span {
      aspect-ratio: 1;
      width: 36px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      border: 2px solid currentColor;
      background-color: var(--system-light-300);
      transition: transform 0.4s ease;
      & svg {
        transition: rotate 400ms ease-in-out;
      }
    }
  }
  & .threadCard {
    display: grid;
    grid-row: 1 / span 2;
    grid-template-rows: 0fr;
    transition: grid-template-rows 350ms 100ms ease-in-out;
    overflow: hidden;
  }
  &[open],
  &[data-open='true'] {
    & summary span svg {
      rotate: 180deg;
    }
    & .threadCard {
      grid-template-rows: 1fr;
      transition: grid-template-rows 350ms ease-in-out;
    }
    & .threadWrapper {
      height: fit-content;
    }
    & .threadFooter {
      opacity: 1;
      transition: opacity 350ms ease-in;
    }
  }
}

.topDivider {
  height: 16px;
  padding-block: 4px;
  display: flex;
  flex-direction: column;
  width: var(--timelineWidth);
  align-items: center;
  color: light-dark(var(--system-shadow-1), var(--system-light-400));
}

.dividerGroup {
  color: light-dark(var(--system-shadow-1), var(--system-light-400));
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  grid-column: 1;
  grid-row: 2;
  padding-block: 4px;
  gap: 4px;
}

.timelineDivider {
  composes: timelineDivider from '@components/bluesky/bluesky.module.css';
  justify-self: center;
}

.threadCard {
  padding: 16px;
  margin-bottom: 24px;
  overflow: hidden;
  &[data-is-last] {
    margin-bottom: 0;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 60px;
}

.butterfly {
  composes: butterfly from '@components/bluesky/bluesky.module.css';
  width: 80px;
  height: 70px;
  top: -6px;
  left: -2px;
}

.threadInfo {
  display: flex;
  gap: 4px;
  padding-inline: 8px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.labelWrapper {
  display: flex;
  justify-content: flex-end;
}
:global(:root[data-dark-mode='true']) .label {
  font-weight: 400;
}

.label {
  user-select: none;
  font-weight: 600;
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-1);
  padding: 4px 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 4px;
  line-height: 1;
  background-color: light-dark(
    var(--system-light-500),
    var(--system-light-400)
  );
  color: var(--system-dark-200);
  &[data-size='small'] {
    padding: 2px 6px;
    border-radius: var(--border-radius-md);
    gap: 2px;
    background-color: light-dark(
      var(--system-dark-200-16),
      var(--system-dark-200-16)
    );
    color: light-dark(var(--system-dark-200), var(--system-dark-300-80));
    font-weight: 600;
    & svg {
      width: 12px;
      height: 12px;
    }
  }
}

section.threadWrapper {
  height: 40px;
}

.date {
  composes: postDate from '@components/bluesky/bluesky.module.css';
}

.hashtag {
  display: none;
}

.threadFooter {
  composes: threadFooter from '@components/bluesky/bluesky.module.css';
  transition: opacity 250ms ease-in;
  opacity: 0;
}
