---
import './themeSwitch.css';

type Props = {
  withGlow: boolean;
  isMobile: boolean;
  ['data-arrow-nav']?: 'true' | 'false';
};
const { withGlow, isMobile } = Astro.props;
const dataArrowNav = Astro.props['data-arrow-nav'];
---

<script>
  import { initThemeSwitch } from './initThemeSwitch';
  initThemeSwitch();
</script>

<div
  id={isMobile ? 'themeSwitchMobile' : 'themeSwitch'}
  aria-label="Switch to dark mode"
  title="Switch to dark mode"
>
  <input
    data-arrow-nav={dataArrowNav === 'true' || undefined}
    aria-labelledby={isMobile ? 'themeSwitchMobile' : 'themeSwitch'}
    type="checkbox"
    id={isMobile ? 'themeToggleMobile' : 'themeToggle'}
    data-animation-disabled="true"
  />
  <span data-with-glow={withGlow || undefined}></span>
</div>
