---
import { getLangFromUrl } from '@i18n/utils';
import styles from './themeSwitch.module.css';

type Props = {
  withGlow: boolean;
  isMobile: boolean;
};

const { withGlow, isMobile } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<script>
  import { initThemeSwitch } from './initThemeSwitch';
  initThemeSwitch();
</script>

<div
  id={isMobile ? 'themeSwitchMobile' : 'themeSwitch'}
  class={isMobile ? styles.themeSwitchMobile : styles.themeSwitch}
  aria-label="Switch to dark mode"
  title="Switch to dark mode"
  data-lang={lang}
>
  <input
    aria-labelledby={isMobile ? 'themeSwitchMobile' : 'themeSwitch'}
    type="checkbox"
    id={isMobile ? 'themeToggleMobile' : 'themeToggle'}
    class={isMobile ? styles.themeToggleMobile : styles.themeToggle}
    data-animation-disabled="true"
  />
  <span data-with-glow={withGlow || undefined}></span>
</div>
