---
import { Picture } from 'astro:assets';
import { generateBlurPlaceholder } from '@utils/generateBlurPlaceholder';
import styles from './pictureWithPlaceholder.module.css';

type Props = Omit<Parameters<typeof Picture>[0], 'src'> & {
  src: ImageMetadata;
  placeholderSettings?: PlaceholderSettings;
  classNames?: Partial<ClassNames>;
};

type PlaceholderSettings = {
  style?: astroHTML.JSX.CSSProperties;
  props?: astroHTML.JSX.HTMLAttributes;
} & (
  | {
      width?: number;
      height?: never;
      blurSigma?: number;
    }
  | { width: null; height: number; blurSigma?: number }
);

type ClassNames = {
  placeholder: string;
  image: string;
};

const {
  placeholderSettings,
  'aria-disabled': disabled,
  classNames,
  ...props
} = Astro.props;
const placeholder = await (placeholderSettings?.height
  ? generateBlurPlaceholder(
      props.src.src,
      null,
      placeholderSettings.height,
      placeholderSettings?.blurSigma
    )
  : generateBlurPlaceholder(
      props.src.src,
      placeholderSettings?.width || 16,
      undefined,
      placeholderSettings?.blurSigma
    ));
---

<script>
  class FadeInPicture extends HTMLElement {
    connectedCallback() {
      const img = this.querySelector('img');
      if (!img) return;

      const addLoaded = () => {
        requestAnimationFrame(() => {
          requestAnimationFrame(() => {
            img.classList.add('loaded');
          });
        });
      };

      if (img.complete && img.naturalHeight !== 0) {
        addLoaded();
      } else {
        img.addEventListener('load', () => addLoaded());
      }
    }
  }

  customElements.define('fade-in-picture', FadeInPicture);
</script>
<fade-in-picture class={styles.wrapper}>
  <div
    class:list={[styles.placeholder, classNames?.placeholder]}
    data-disabled={disabled || undefined}
    style={{
      'background-image': `url('${placeholder}')`,
      ...(placeholderSettings?.style || {}),
    }}
    {...placeholderSettings?.props}
  >
  </div>
  <Picture
    {...props as Parameters<typeof Picture>[0]}
    data-disabled={disabled || undefined}
    class:list={[styles.image, classNames?.image]}
    pictureAttributes={{
      ...props.pictureAttributes,
      ['data-disabled']: disabled || undefined,
    }}
  />
</fade-in-picture>
