.wrapper {
  display: contents;
}

.placeholder {
  background-size: cover;
  background-position: center;
  position: absolute;
  overflow: hidden;
}

:global(:root[data-js-enabled='true']) .image {
  transition: opacity 250ms cubic-bezier(0.7, 0, 0.9, 1);
  opacity: 0;
  &:global(.loaded) {
    opacity: 1;
  }
}
