@layer components {
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .wrapper {
    display: grid;
  }

  .placeholder {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .picture,
  .placeholder {
    grid-area: 1/1;
  }

  @media (prefers-reduced-motion: no-preference) {
    .image {
      --fade-duration: 200ms;
      --fade-ease: cubic-bezier(0.7, 0, 0.9, 1);
      opacity: 0;
    }

    :global(:root:not([data-js-enabled='true'])) .image {
      animation: fadeIn var(--fade-duration) 300ms var(--fade-ease) forwards;
    }

    :global(:root[data-js-enabled='true']) .image:global(.loaded) {
      animation: fadeIn var(--fade-duration) var(--fade-ease) forwards;
    }
  }
}
