---
type Props = {
  width?: number;
};

const { width } = Astro.props;
---

<svg
  width={width || 118}
  id="accuRankerLogo"
  viewBox="0 0 558 100"
  style="margin-left: 2px; margin-block: 1px 6px;"
>
  <title>AccuRanker</title>
  <g fill="none" fill-rule="evenodd">
    <g transform="matrix(1 0 0 -1 0 100)">
      <rect width="88" height="88" x="6" y="6" fill="#FFF" rx="16"></rect>
      <path
        fill="#F89734"
        d="M0 20C0 9 9 0 20 0h60c11 0 20 9 20 20v60c0 11-9 20-20 20H20C9 100 0 91 0 80V20zm6 2A16 16 0 0 1 22 6h56a16 16 0 0 1 16 16v56a16 16 0 0 1-16 16H22A16 16 0 0 1 6 78V22z"
      ></path>
      <path
        fill="#F89734"
        d="M7 6c-1.8 1.5-6 10.9-.8 15.2 16 13 15.7 27.6 28.5 27.6 12 0 17.6-20 26.4-20 6.1 0 9 3.2 11.4 8.1 7.9 16.2 7.7 50.8 24.3 52 2.8.2-3-82.5-3-82.5L47 1.8S8.7 4.4 7 6z"
      ></path>
    </g>
    <path
      fill="currentColor"
      d="M174.4 61.6h-23.7l-8.2 20.6H138l23.5-58.7h2.6l23 58.7h-4.6l-8-20.6zm-22.2-3.7H173l-8-21c-.7-1.7-1.5-4-2.4-7-.7 2.6-1.5 5-2.4 7l-8.1 21zM210.7 83c-6.2 0-11-2-14.6-5.9-3.5-3.9-5.2-9.4-5.2-16.4a24 24 0 0 1 5.4-16.8c3.7-4 8.7-6 15-6 3.8 0 7.4.7 10.8 2l-1 3.5c-3.8-1.3-7-1.9-9.9-1.9-5.3 0-9.3 1.7-12 5-2.8 3.2-4.2 8-4.2 14.2a21 21 0 0 0 4.1 13.7c2.8 3.3 6.6 5 11.5 5 4 0 7.7-.7 11-2.1V81c-2.7 1.3-6.4 2-10.9 2zm37.9 0c-6.2 0-11-2-14.6-5.9-3.5-3.9-5.3-9.4-5.3-16.4a24 24 0 0 1 5.5-16.8c3.7-4 8.7-6 15-6 3.8 0 7.4.7 10.8 2l-1 3.5c-3.8-1.3-7.1-1.9-9.9-1.9-5.3 0-9.3 1.7-12 5-2.8 3.2-4.2 8-4.2 14.2a21 21 0 0 0 4.1 13.7c2.8 3.3 6.6 5 11.5 5 4 0 7.6-.7 11-2.1V81c-2.8 1.3-6.4 2-10.9 2zm24-44.3V67c0 4.4.9 7.5 2.7 9.5 1.9 2 4.7 3 8.6 3 5.1 0 9-1.3 11.4-4 2.4-2.5 3.6-6.8 3.6-12.7v-24h4v43.5h-3.4l-.7-6h-.3c-2.8 4.5-7.8 6.8-15 6.8-10 0-14.9-5.3-14.9-15.9V38.7h4zm48.9 18v25.5h-4.1V23.8h13.9c7.3 0 12.6 1.3 16 4 3.5 2.7 5.3 6.7 5.3 12 0 4-1 7.3-3.1 10s-5.2 4.6-9.4 5.8l15.8 26.6H351l-15-25.5h-14.5zm0-3.5h11.1c5 0 8.8-1 11.5-3.3 2.7-2.2 4-5.4 4-9.7 0-4.5-1.3-7.7-4-9.7-2.6-2-7-3-13-3h-9.6v25.7zm68.9 29-1-6.9h-.3a20.6 20.6 0 0 1-6.8 6 18 18 0 0 1-8.1 1.7c-4.3 0-7.6-1-10-3.3a11.7 11.7 0 0 1-3.5-9c0-4.3 1.7-7.6 5.3-10 3.5-2.3 8.6-3.5 15.3-3.6l8.3-.3V54c0-4-.9-7.2-2.6-9.3-1.6-2.1-4.3-3.2-8-3.2-4.1 0-8.3 1.1-12.6 3.4l-1.5-3.5c4.8-2.2 9.5-3.3 14.2-3.3 4.8 0 8.3 1.2 10.7 3.7 2.3 2.5 3.5 6.3 3.5 11.6v28.9h-2.9zm-16-2.8a15 15 0 0 0 11-4c2.7-2.6 4-6.3 4-11V60l-7.6.3c-6.1.3-10.4 1.3-13 2.9-2.6 1.6-4 4.1-4 7.5 0 2.7.9 4.8 2.6 6.3 1.6 1.6 4 2.3 7 2.3zm62.3 2.8V54c0-4.4-1-7.5-2.8-9.5-1.8-2-4.7-3-8.5-3-5.2 0-9 1.3-11.5 4-2.4 2.6-3.6 6.8-3.6 12.7v24h-4V38.7h3.4l.8 6h.2c2.8-4.5 7.9-6.8 15-6.8 10 0 14.9 5.3 14.9 15.9v28.4h-4zm20.8-19 22.2-24.5h4.8l-17.1 18.6L486 82.2h-4.8l-16.5-22-7.1 6.5v15.5h-4V20h4v31.2l-.3 12h.2zM508.1 83a19 19 0 0 1-14.7-5.8 23.5 23.5 0 0 1-5.3-16.4c0-7 1.7-12.5 5-16.6 3.5-4.2 8-6.3 13.9-6.3 5 0 9.1 1.8 12 5.4 3 3.5 4.5 8.4 4.5 14.5V61h-31.3c0 6 1.5 10.5 4.2 13.7 2.7 3.1 6.6 4.7 11.7 4.7 2.5 0 4.7-.2 6.6-.5 1.8-.4 4.2-1.1 7.1-2.3v3.6a31.8 31.8 0 0 1-13.7 2.8zM507 41.4a13 13 0 0 0-10.1 4.2c-2.5 2.7-4 6.7-4.4 11.9h26.8c0-5-1-9-3.3-11.8a10.8 10.8 0 0 0-9-4.3zm44.6-3.5c1.8 0 3.8.2 6 .6l-.8 3.8c-1.9-.5-3.7-.7-5.7-.7a11 11 0 0 0-9 4.7 19.2 19.2 0 0 0-3.6 12v23.9h-4V38.7h3.4l.4 7.9h.2c1.8-3.2 3.7-5.5 5.7-6.8 2-1.2 4.5-1.9 7.4-1.9z"
    ></path>
  </g>
</svg>
