---
type Props = {
  width?: number;
  style?: string | Record<string, any>;
};

const { width, style } = Astro.props;
---

<svg
  width={width || 100}
  viewBox="0 0 574 120"
  fill="none"
  id="boligPortalLogo"
  style={style}
>
  <title>BoligPortal</title>
  <path
    fill="#F63"
    fill-rule="evenodd"
    d="M264 27.6c-4.19 0-5.89 1.33-5.89 5.02v.87c0 4.44 1.45 5.89 5.89 5.89h.68c4.44 0 5.89-1.44 5.89-5.9v-.86c0-3.71-1.44-5.02-5.9-5.02H264zm72.1.2c-2.51 0-3.97 1.34-3.97 3.76v59.5c0 2.42 0 5.37 3.69 5.37h4.76c3.71 0 3.73-2.96 3.73-5.37v-18.5h16.8c14 0 22.8-8.3 22.8-22.3s-8.9-22.4-22.8-22.4h-25zm8.21 32.3V40.5c0-.95.48-1.4 1.39-1.4H360c7.06 0 11.2 4.16 11.2 11.1s-4.16 11-11.2 11h-14.3c-1.06 0-1.39-.35-1.39-1.19zm-215-32.2c-2.51 0-5.14 2.8-5.14 5.22v55.9c0 5.25 3.63 7.68 7.48 7.54h23.3c12.7 0 21.8-6.67 21.8-18.9 0-8.7-3.58-14.5-9.86-16.7-.19-.06-.19-.27 0-.38 5.03-3 7.35-7.64 7.35-14.6 0-11.6-7.35-18.1-19.8-18.1h-25.3.27zm7.05 27V40.4c0-.84.43-1.24 1.32-1.24h15.2c5.8 0 8.9 2.8 8.9 8.5s-3.19 8.5-8.9 8.5h-15.2c-.92 0-1.32-.41-1.32-1.3zm0 29V68.5c0-.86.45-1.33 1.33-1.33h16.9c5.99 0 9.18 3.2 9.18 9.1s-3.19 8.9-9.18 8.9h-16.9c-.96 0-1.33-.41-1.33-1.3zm429-55.9c-3.27 0-3.26 2.4-3.26 4.62v58.5c0 3.25 0 5.35 3.26 5.35h4.74c3.44 0 3.21-2.5 3.21-5.35v-58.5c0-2.22 0-4.63-3.21-4.63h-4.74zm-326 0c-3 0-3 2.98-3 4.63v58.6c0 2.23 0 5.22 3 5.22h5.22c3 0 3-2.99 3-5.22v-58.6c0-1.8 0-4.64-3-4.64h-5.22zm244 6c-2.22 0-3.19.68-3.19 2.9v8.7h-6.67c-2.22 0-2.9.83-2.9 3.06v4.12c0 2.23.68 3.17 2.9 3.17h6.67v19.8c0 16.7 6.31 21.2 22.3 20.7 2.32-.1 2.97-.18 2.97-2.5V89.5c0-2.32-.77-3-3.09-3-8.12 0-10.9-1.64-10.9-11.1V56h11c2.22 0 3-.95 3-3.17v-4.12c0-2.23-.77-3.06-3-3.06h-11v-8.7c0-2.23-.96-2.9-3.18-2.9h-4.85zm30.1 20.2c-1.16 2.22-.49 3.4 1.64 4.35l3.87 1.64c2.22.87 2.8.58 4.16-1.45 2.03-3.09 5.32-4.64 10.2-4.64 7.25 0 9.67 3.48 9.67 9.57v2.71c-1.64-.1-5.51-.48-9.28-.48-15.5 0-21.9 3.96-21.9 15.6 0 6.67 2.03 13.5 9.09 14.6 3.45.54 6.14.68 11.9.68 7.93 0 10.7-.5 14.5-1.3 3.82-.8 6.92-2.27 6.92-8.27v-23.1c0-11.4-4.83-19.9-20.7-19.9-10.1 0-16.7 3.77-20 10.1v.02zm18.8 33.6c-8.07-.06-10.2-1.69-10.1-6.48.11-3.96 2.36-6.28 10.2-6.28 2.89 0 6.34.23 8.71.38 1.23.08 1.83.77 1.83 2.03v8.21c0 .87-.29 1.06-1.06 1.35-1.67.37-4.52.78-9.12.78h-.55zm-145-24.4v14.3c0 12 7.98 18.7 22.3 18.7 14.3 0 22.3-6.67 22.3-18.7V63.4c0-12-7.83-19.3-22.3-19.3s-22.2 7.35-22.2 19.3zm11.2 14.3V63.4c0-5.9 3.96-9.19 11-9.19 7.06 0 11.1 3.3 11.1 9.2v14.3c0 5.8-3.96 9.18-11.1 9.18-7.16 0-11-3.39-11-9.19zm-215-14.3v14.3c0 12 7.74 18.6 22 18.6s22.5-6.65 22.5-18.6V63.4c0-12-7.83-19.3-22.3-19.3s-22.2 7.35-22.2 19.3zm11.2 14.3V63.4c0-5.9 3.96-9.19 11-9.19s11.1 3.3 11.1 9.2v14.3c0 5.8-3.96 9.18-11.1 9.18s-11-3.39-11-9.19zm265-32.1c-8.6.2-14.4.78-18 2.13-3.1 1.26-3.77 2.42-3.77 5.51l.28 37.7c0 2.22-.28 5.4 2.95 5.4h4.82c3.5 0 3.43-3.17 3.43-5.4l-.28-32.8c0-.48.1-.96.97-1.16a30.73 30.73 0 0 1 9.18-1.16h3.49c2.22 0 3-.96 3-3.19v-3.8c0-2.32-.78-3.26-3-3.26h-3.1zm-180 20.3v10.9c0 12.2 6.28 19.4 20.1 19.4 4.64 0 8.7-.96 11.6-1.74v4.83c0 6.86-3.48 10.4-10.2 10.4-5.22 0-8.02-1.74-10.1-4.93-1.54-2.03-2.82-2.33-5.15-1.04l-3.24 1.8c-2.62 1.43-2.83 2.82-1.37 4.94 3.38 5.7 9.57 9.28 20 9.28 15.2 0 21.3-8.4 21.3-21.1v-43.8c0-3.09-1.04-5.28-4.08-6.56-3.48-1.46-9.54-2.78-17-2.78-14.8 0-21.8 7.15-21.8 20.3zm11.2 10.6V66.2c0-7.16 3.67-10.4 11.4-10.4 2.95 0 5.64.42 7.72.94.94.23 1.37.78 1.37 1.89v24.8c0 .96-.3 1.3-1.23 1.52a38.86 38.86 0 0 1-8.73 1.07c-6.87 0-10.5-3.4-10.5-9.48zm-28.7-30.3c-3.14 0-3.14 3.21-3.14 5.44v39.3c0 2.22 0 5.34 2.9 5.34h5.31c3 0 3-3.1 3-5.34v-39.3c0-2.23 0-5.44-3.28-5.44h-4.79z"
    clip-rule="evenodd"></path>
  <path
    fill="#f63"
    fill-rule="evenodd"
    d="M51.2 1.25a10.9 10.9 0 0 0-10.4 2.8L3.7 40.95C1.91 42.9.48 45.79.48 48.7v40.4c0 5.87 3.79 7.8 7.04 7.7h81.7c3.66 0 7.44-2.47 7.44-7.71v-39.8c0-2.94 0-4.99-3.62-8.97l-37-36.2a10.9 10.9 0 0 0-4.85-2.75zm-2.63 24.6a10.8 10.8 0 1 1 0 21.6 10.8 10.8 0 0 1 0-21.6zm-13.6 25.9h27.2c1.05 0 2.07.12 3.08.4a8.83 8.83 0 0 1 3.55 1.95 8.35 8.35 0 0 1 2.75 5.5l2.93 23c.05.4.12.8.1 1.2a2.31 2.31 0 0 1-.08.6 1.43 1.43 0 0 1-.78.92 2.24 2.24 0 0 1-.71.22 4.28 4.28 0 0 1-.6.04h-4.83c-.22 0-.45-.02-.66-.08a1.2 1.2 0 0 1-.86-.79 2.96 2.96 0 0 1-.14-.66l-1.97-15.3c-.02-.17-.04-.34-.08-.5-.14-.6-.5-1-1.1-1.17a1.92 1.92 0 0 0-1.13.01c-.62.2-.98.65-1.08 1.3l-.02.26-.44 15.5a1.47 1.47 0 0 1-.52 1.1c-.24.21-.52.3-.83.32h-20.2l-.32-.01c-.61-.08-.99-.44-1.18-1a1.39 1.39 0 0 1-.06-.31 8.32 8.32 0 0 1-.02-.48l-.44-15.3a1.54 1.54 0 0 0-1.26-1.5 1.98 1.98 0 0 0-1.03.06c-.59.2-.95.62-1.06 1.23-.07.42-.1.84-.17 1.27l-1.88 14.6-.08.42c-.15.57-.53.88-1.1.97-.16.02-.34.03-.5.03h-4.76a3.8 3.8 0 0 1-.97-.11c-.79-.25-1.16-.73-1.24-1.43a4.17 4.17 0 0 1 .02-.88c.11-.94 1.97-15.4 2.07-16.3.09-.72.95-7.5 1.03-7.97a8.37 8.37 0 0 1 4.86-6.26 9.99 9.99 0 0 1 2.5-.74 12.1 12.1 0 0 1 1.99-.15z"
  ></path>
</svg>
