---
type Props = {
  width?: number;
};

const { width } = Astro.props;
---

<svg
  width={width || 92}
  viewBox="0 0 777 124"
  fill="currentColor"
  id="friggTechLogo"
  style="margin-block: 3px"
>
  <title>Frigg Tech</title>
  <path
    d="M74.725 2H60.733c.038.493.091.983.144 1.472.042.383.083.765.117 1.147a64.492 64.492 0 0 0 56.346 56.307c.344.035.688.073 1.032.11a78.04 78.04 0 0 0 1.548.16V47.196A45.197 45.197 0 0 0 74.725 2ZM1.631 62.898c.326.037.652.073.978.106a64.472 64.472 0 0 1 56.307 56.307c.033.327.07.653.106.979.062.543.123 1.087.165 1.63H45.195A45.193 45.193 0 0 1 0 76.726V62.734c.544.042 1.087.103 1.63.164Zm59.245 57.573c.042-.387.084-.773.118-1.16A64.494 64.494 0 0 1 117.3 63.004c.322-.032.643-.068.965-.104a47.23 47.23 0 0 1 1.654-.166v59.186H60.733c.038-.483.09-.966.143-1.449ZM59.05 3.653c-.036.322-.072.644-.105.966A64.473 64.473 0 0 1 2.59 60.926c-.337.034-.673.071-1.01.108a75.33 75.33 0 0 1-1.58.163V2h59.216a47.13 47.13 0 0 1-.166 1.653Z"
  ></path><path
    d="M219.319 2.209h80.375v19.073h-67.749v32.51h37.538v19.074h-37.538v48.518H211V10.528c0-4.576 3.72-8.297 8.297-8.297l.022-.022ZM331.19 11.7c0-5.23 4.239-9.491 9.492-9.491h43.625c14.97 0 26.716 4.419 34.382 11.927 6.29 6.47 9.875 15.308 9.875 25.701v.338c0 19.57-11.746 31.316-28.25 36.096l32.173 45.113h-24.845l-29.287-41.528h-26.22v41.528H331.19V11.701Zm51.584 49.578c14.97 0 24.507-7.823 24.507-19.908v-.338c0-12.76-9.199-19.75-24.687-19.75h-30.459v39.996h30.639ZM463.96 2.209h12.446c4.689 0 8.499 3.81 8.499 8.5v110.653H463.96V2.209ZM519.963 62.113v-.338c0-33.367 25.544-61.617 61.459-61.617 20.764 0 33.525 5.794 45.79 16.165l-13.28 15.827c-9.198-7.823-18.216-12.76-33.367-12.76-21.959 0-38.643 19.23-38.643 42.047v.338c0 24.507 16.165 42.566 40.514 42.566 11.228 0 21.441-3.562 28.768-9.018V73.025h-30.459V54.808h40.492c5.637 0 10.213 4.577 10.213 10.214v39.815c-11.746 10.055-28.587 18.555-49.713 18.555-37.267 0-61.797-26.559-61.797-61.279h.023ZM661.751 62.113v-.338c0-33.367 25.544-61.617 61.459-61.617 20.765 0 33.525 5.794 45.79 16.165L755.721 32.15c-9.199-7.823-18.217-12.76-33.367-12.76-21.96 0-38.643 19.23-38.643 42.047v.338c0 24.507 16.165 42.566 40.514 42.566 11.228 0 21.441-3.562 28.768-9.018V73.025h-30.459V54.808h40.492c5.636 0 10.213 4.577 10.213 10.214v39.815c-11.746 10.055-28.588 18.555-49.713 18.555-37.268 0-61.797-26.559-61.797-61.279h.022Z"
  ></path></svg
>
