.presentationCardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: pre-line;
  & ul {
    padding-inline-start: 20px;
  }
}

.endquote {
  color: var(--system-dark-300);
  font-weight: var(--system-weight-600);
  margin-block-start: 2rem;
  margin-left: 2rem;
}

.signature {
  margin-block-start: 1rem;
  margin-block-end: 2rem;
  margin-left: 3rem;
}

.article {
  display: flex;
  flex-direction: column;
  @supports (animation-timeline: view()) and (animation-range: normal) {
    @media (prefers-reduced-motion: no-preference) {
      & .textContent {
        animation: var(--animation-scale-up);
        animation-timeline: view();
        animation-range: var(--scale-up-animation-range);
      }
    }
  }
}
@media (min-width: 1280px) {
  .imageContent {
    flex: 1 0 auto;
  }
}
@media (max-width: 768px) {
  .balloons {
    grid-row: 3;
    margin-block: 16px;
    @supports (animation-timeline: view()) and (animation-range: normal) {
      @media (prefers-reduced-motion: no-preference) {
        animation: var(--animation-scale-up);
        animation-timeline: view();
        animation-range: var(--scale-up-animation-range);
      }
    }
  }
}

.quote {
  composes: quote from '@layouts/home/home.module.css';
  --quote: light-dark(var(--princeton-400), var(--princeton-500));
}
