---
import styles from './card.module.css';

type Props = {
  inert: boolean;
  /**  distinct identifying name used for view transitions. Should be in kebab-case.
   * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/view-transition-name MDN Web Docs}
   */
  viewTransitionName?: string;
  /** Unique identifier for this card. Should be written in camelCase
   * This can also be used as an anchor to go directly to this card.
   */
  id?: string;
  className?: string | undefined;
};

const { inert, viewTransitionName = 'card', id } = Astro.props;
---

<section
  id={id}
  inert={inert}
  class={`${styles.card} ${Astro.props.className || ''}`}
  style={`view-transition-name: ${viewTransitionName}`}
>
  <slot />
</section>
