@layer components {
  @keyframes sparkle {
    0%,
    30%,
    100% {
      transform: rotate(0) scale(0);
    }
    5% {
      transform: rotate(0) scale(0);
    }
    15% {
      transform: rotate(calc(-0.2 * var(--rotation))) scale(-1, 0);
    }

    20% {
      transform: rotate(var(--rotation)) scale(1);
    }
  }

  .wrapper {
    position: relative;
    line-height: 0;
    width: fit-content;
  }

  .sparkle {
    --duration: 8s;
    clip-path: url('#sparkle');
    aspect-ratio: 1;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    @media (prefers-reduced-motion: no-preference) {
      animation: sparkle var(--duration) var(--delay, 0ms) infinite ease-in-out;
      animation-fill-mode: both;
    }
  }
}
