.flex {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
}
.buttonContent {
  display: flex;
  column-gap: 6px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

.aboutCard {
  width: 288px;
  & button:has(p) {
    width: -moz-available;
    width: -webkit-fill-available;
  }
}

.content {
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  & h3 {
    font-weight: var(--system-weight-600);
    color: light-dark(var(--system-dark-200), var(--system-dark-100));
    font-size: var(--font-size-4);
    margin-block-end: 0.5rem;
    text-wrap: balance;
  }
  & :global(p.small-body-text),
  & li {
    color: light-dark(var(--system-dark-200), var(--system-dark-100));
  }
  & b,
  & strong {
    color: light-dark(var(--system-dark-200), var(--system-dark-100));
  }
}

.popoverDesc {
  margin-block-end: 0;
  font-weight: var(--system-weight-500);
  font-size: var(--font-size-2);
  color: currentColor;
}

.title {
  height: 62px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  background-size: 100% 200%;
  border-radius: var(--border-radius-sm);
  transform: translate(-8px, -8px) rotate(-4deg);
  font-weight: var(--system-weight-800);
  text-transform: uppercase;
  z-index: 1;
  &[data-variant='flirt'] {
    color: light-dark(var(--system-light-200), var(--system-light-300));
    --gradient-tone-100: var(--flirt-100);
    --gradient-tone-400: var(--flirt-400);
    --gradient-tone-500: var(--flirt-500);
  }
  &[data-variant='princeton'] {
    color: light-dark(var(--system-light-100), var(--system-light-400));
    --gradient-tone-100: var(--princeton-100);
    --gradient-tone-400: var(--princeton-400);
    --gradient-tone-500: var(--princeton-500);
  }
}
