@keyframes getMe {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.presentationCardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: pre-line;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
}

.actionEntries {
  display: flex;
  align-items: center;
  gap: 12px;
  & a {
    display: flex;
    align-items: center;
    gap: 4px;
    outline-offset: var(--outline-offset);
    border-radius: var(--border-radius-sm);
    text-decoration: underline transparent;
    transition: text-decoration-color 0.25s;
    color: light-dark(var(--system-dark-100), var(--system-dark-200));
    & p {
      font-size: var(--font-size-2);
      font-weight: 600;
      color: light-dark(var(--system-dark-100), var(--system-dark-200));
      margin-block-end: unset;
    }
    & .downloadIcon {
      overflow: visible;
    }
    &:hover,
    &:focus-visible {
      text-decoration-color: light-dark(
        var(--system-dark-100),
        var(--system-dark-300)
      );
      transition: text-decoration-color 0.4s;
      & .downloadIcon g {
        animation-name: getMe;
        animation-timing-function: ease-in-out;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
      }
    }
  }
}

.contactContainer {
  display: flex;
  margin-bottom: 8px;
  & a {
    outline-offset: var(--outline-offset);
    text-decoration-line: none;
    width: fit-content;
    display: block;
    box-shadow: var(--stacks-4-shadow);
    & p {
      text-wrap: balance;
      white-space: pre-line;
      margin-block-end: 0;
    }
  }
}

.contact {
  position: relative;
  font-size: var(--font-size-2);
  user-select: none;
  font-weight: 300;
  background: var(--system-light-300);
  color: light-dark(var(--system-dark-200), var(--system-dark-300-55));
  border-radius: var(--border-radius-sm);
  padding: 8px 12px;
  display: flex;
  width: fit-content;
  gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  &::before {
    background-image: radial-gradient(
      75% 63.6% at 50% 2.5%,
      var(--verdigris-100) 0%,
      transparent 100%
    );
    position: absolute;
    content: '';
    inset: 0;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
    filter: blur(2px);
  }
  & picture {
    width: 40px;
    aspect-ratio: 1 / 1;
    background-color: #1bb3b9;
  }
  & p {
    z-index: 1;
    color: light-dark(var(--system-dark-400), var(--system-dark-100));
    & b {
      color: var(--system-dark-200);
      font-weight: 600;
    }
  }
}

.outline {
  composes: outlinegold from '@components/carousel/carousel.module.css';
  background-size: 100% 125%;
  background-position-y: top;
  border-radius: 6px;
  padding: 2px;
  & :global(.squircle) {
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0;
  }
  &:hover,
  &:focus-visible {
    & .contact::before {
      opacity: 0.5;
      /* transform: scale(1.2); */
    }
    & :global(.squircle) {
      transform: translateY(-3px);
    }
  }
}

.quoteColor {
  --quote: light-dark(var(--verdigris-500), var(--verdigris-300));
}

.quote {
  display: block;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding-inline: 1rem;
  padding-block: 0.5rem 0;
  border-left: 0.4rem solid var(--quote);
  quotes: '\275D' '';
  &:before {
    color: var(--quote);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
  }
  & p {
    display: inline;
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: italic;
  }
}

.fullgrid {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  /* scissors */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: light-dark(
      var(--system-shadow-7),
      var(--system-light-400)
    );
    mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-scissors"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M8.6 8.6l10.4 10.4" /><path d="M8.6 15.4l10.4 -10.4" /></svg>');
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 8px;
    left: 18px;
    height: 2px;
    border-top: dashed 2px
      light-dark(var(--system-shadow-7), var(--system-light-400));
  }
  & h2 {
    margin-bottom: 0;
  }
}

.tips {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-inline: 1rem;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.video {
  margin-block: 1rem;
  aspect-ratio: 1.3;
}
