@keyframes getMe {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.presentationCardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: pre-line;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
}

.actionEntries {
  display: flex;
  align-items: center;
  gap: 12px;
  & a {
    display: flex;
    align-items: center;
    gap: 4px;
    outline-offset: var(--outline-offset);
    border-radius: var(--border-radius-sm);
    text-decoration: underline transparent;
    transition:
      text-decoration-color 400ms,
      color 400ms;
    color: light-dark(var(--system-dark-100), var(--system-dark-300-80));
    & p {
      font-size: var(--font-size-2);
      font-weight: 600;
      color: light-dark(var(--system-dark-100), var(--system-dark-300-80));
      margin-block-end: unset;
      transition: color 400ms;
    }
    & .downloadIcon {
      overflow: visible;
    }
    &:hover,
    &:focus-visible {
      color: light-dark(var(--system-dark-200), var(--system-dark-300));
      text-decoration-color: currentColor;
      & p {
        color: light-dark(var(--system-dark-200), var(--system-dark-300));
      }
      & .downloadIcon g {
        animation-name: getMe;
        animation-timing-function: ease-in-out;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
      }
    }
  }
}

.quoteColor {
  --quote: light-dark(var(--verdigris-500), var(--verdigris-300));
}

.quote {
  display: block;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding-inline: 1rem;
  padding-block: 0.5rem 0;
  border-left: 0.4rem solid var(--quote);
  quotes: '\275D' '';
  &:before {
    color: var(--quote);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
  }
  & p {
    display: inline;
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: italic;
  }
}

.fullgrid {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;
  /* scissors */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: light-dark(
      var(--system-shadow-7),
      var(--system-light-400)
    );
    mask: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-scissors"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M8.6 8.6l10.4 10.4" /><path d="M8.6 15.4l10.4 -10.4" /></svg>');
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 8px;
    left: 18px;
    height: 2px;
    border-top: dashed 2px
      light-dark(var(--system-shadow-7), var(--system-light-400));
  }
  & h2 {
    margin-bottom: 0;
  }
}

.tips {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-inline: 1rem;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.video {
  margin-block: 1rem;
  aspect-ratio: 1.3;
}
