@keyframes flash {
  0%,
  0.5%,
  5.5005%,
  6%,
  19.9995%,
  20.5%,
  100% {
    opacity: 1;
  }
  0.5005%,
  5%,
  5.501%,
  20% {
    opacity: 0;
  }
}

.lightbulb {
  transform: translate(32px, -38px);
  color: light-dark(var(--system-dark-100), var(--system-light-200));
  z-index: 1;
  @media (prefers-reduced-motion: no-preference) {
    :global(#lightb_glow),
    :global(.lightb_wire),
    :global(.lightb_shine),
    :global(.lightb_thread) {
      animation: flash 20s var(--delay) linear infinite;
    }
  }
  :global(#lightb_glow),
  :global(#lightb_glow_yellow),
  :global(.lightb_wire),
  :global(.lightb_thread) {
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    :global(#lightb_glow),
    :global(.lightb_wire),
    :global(.lightb_shine),
    :global(.lightb_thread) {
      animation-play-state: paused;
    }
    & :global(#lightb_glow) {
      opacity: 0 !important;
    }
    & :global(#lightb_glow_yellow),
    & :global(.lightb_shine),
    & :global(.lightb_thread),
    & :global(.lightb_wire) {
      opacity: 1 !important;
    }
    & :global(#lightb_shine_1) {
      stroke: #fff;
      opacity: 0.5 !important;
    }
    & :global(.lightb_wire) {
      stroke: #fff;
    }
    & :global(.lightb_thread) use {
      fill: url(#lightb_paint7) !important;
    }
  }
}
