@keyframes slideIn {
  from {
    /* transform: translateX(-75cqi) scale(0.65); */
    /* transform: translateX(-95cqi) scale(0.65); */
    transform: translateX(-75cqi) scale(0.65);
  }
}

@keyframes expand {
  50% {
    flex: 3;
  }
}

/* Hide interactive elements that require JS */
:root[data-js-enabled='false'] {
  /* Hide the controls on the carousel */
  & :global(#previous),
  & :global(#next) {
    visibility: hidden;
  }
}

:global(#carousel) {
  container-type: inline-size;
  height: fit-content;
  container-name: carousel;
  --card-width: 242px;
  & h2 {
    margin-block-end: 0;
  }
}

:global(#carouselList) {
  /*hide scrollbar*/
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none; /* Firefox 64 */
  inline-size: 100cqi;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  gap: 1rem;
  padding-inline: 2rem;
  --mask-padding: 2rem;
  scroll-padding-inline: 2rem;
  scroll-snap-align: start;
  padding-block: 2rem;
  user-select: none;
  mask: linear-gradient(
      transparent,
      white var(--mask-padding) calc(100cqi - var(--mask-padding)),
      transparent
    ),
    linear-gradient(
      90deg,
      transparent,
      white var(--mask-padding) calc(100cqi - var(--mask-padding)),
      transparent
    );
  mask-composite: intersect;

  /* the before and afters have unsnappable elements that create bouncy edges to the scroll */
  &::before,
  &::after {
    content: '';
    display: block;
  }

  &::before {
    order: 0;
    inline-size: 5cqi;
  }

  &::after {
    order: calc(var(--card-length) + 2);
    inline-size: 40cqi;
  }

  /* 
      snap on the item, which is untransformed
      also order is changed to last item is on top
    */
  li {
    scroll-snap-align: start;
    display: block;
    width: var(--card-width);
    border-radius: 12px;
    position: relative;
    z-index: calc(var(--index) + 1);
    order: calc(var(--card-length) + 1 - var(--index));

    & a {
      display: block;
      height: 100%;
      text-decoration: none;
      outline-offset: var(--outline-offset);
      border-radius: var(--border-radius-md);
      box-shadow: var(--stacks-5-shadow);
      @supports (animation-timeline: view()) {
        @media (prefers-reduced-motion: no-preference) {
          animation-name: slideIn;
          animation-fill-mode: both;
          animation-timing-function: linear;
          animation-timeline: view(inline);
          /* animation-range: cover -60cqi contain 30cqi; */
          animation-range: cover -55cqi contain 30cqi;
        }
      }
    }

    article {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-radius: 10px;
      padding: 5px;
      /* create a gradient outline*/
      &.outline1 {
        background: linear-gradient(
          130deg,
          var(--verdigris-300),
          var(--flirt-400) 60%,
          var(--princeton-500) 86%
        );
      }

      &.outline2 {
        background: linear-gradient(
          220deg,
          var(--aquamarine-100),
          var(--aquamarine-500) 85%,
          var(--aquamarine-900) 100%
        );
      }
      &.outline3 {
        background: linear-gradient(
          130deg,
          var(--flirt-100),
          var(--flirt-300) 55%,
          var(--flirt-900) 100%
        );
      }

      &.outline4 {
        background: linear-gradient(
          130deg,
          var(--verdigris-100),
          var(--primary-lighter) 35%,
          var(--flirt-900) 100%
        );
      }

      &.outlinegold {
        background: linear-gradient(
          194deg,
          #bf953f,
          #fcf6ba 35%,
          #b38728 45%,
          #fbf5b7 70%,
          #aa771c
        );
      }
      &:hover {
        --active: 1;
      }
      &::before {
        content: '';
        position: absolute;
        inset: 4px;
        border-radius: inherit;
        box-shadow: var(--card-shadow);
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: radial-gradient(
          circle at calc(var(--x) * 1px) calc(var(--y) * 1px),
          light-dark(hsl(0 0% 100% / 0.36), hsl(0 0% 100% / 0.24)),
          light-dark(hsl(0 0% 100% / 0.29), hsl(0 0% 100% / 0.19)) 16px,
          light-dark(hsl(0 0% 100% / 0.13), hsl(0 0% 100% / 0.09)) 40px,
          light-dark(hsl(0 0% 100% / 0.03), hsl(0 0% 100% / 0.02)) 60px,
          transparent 80px
        );
        background-attachment: local;
        opacity: var(--active, 0);
        transition: opacity 0.25s;
        border-radius: 10px;
        pointer-events: none;
        &:hover {
          transition: opacity 0s;
        }
      }
    }

    & picture,
    & img {
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      aspect-ratio: 232/148;
    }

    & .newsContent {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      padding-block: 12px;
      padding-inline: 16px;
      justify-content: space-between;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background: var(--card-background);
      color: var(--system-dark-300);

      & div {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }

    & .newsArchive {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--system-dark-300);
      border-radius: var(--border-radius-md);
      padding: 5px;
      &::before {
        content: '';
        position: absolute;
        inset: 5px;
        pointer-events: none;
        border-radius: var(--border-radius-md);
        background-image: linear-gradient(
          -45deg,
          var(--system-dark-200-16) 5%,
          transparent 5%,
          transparent 10%,
          var(--system-dark-200-16) 10%,
          var(--system-dark-200-16) 15%,
          transparent 15%,
          transparent 20%,
          var(--system-dark-200-16) 20%,
          var(--system-dark-200-16) 25%,
          transparent 25%,
          transparent 30%,
          var(--system-dark-200-16) 30%,
          var(--system-dark-200-16) 35%,
          transparent 35%,
          transparent 40%,
          var(--system-dark-200-16) 40%,
          var(--system-dark-200-16) 45%,
          transparent 45%,
          transparent 50%,
          var(--system-dark-200-16) 50%,
          var(--system-dark-200-16) 55%,
          transparent 55%,
          transparent 60%,
          var(--system-dark-200-16) 60%,
          var(--system-dark-200-16) 65%,
          transparent 65%,
          transparent 70%,
          var(--system-dark-200-16) 70%,
          var(--system-dark-200-16) 75%,
          transparent 75%,
          transparent 80%,
          var(--system-dark-200-16) 80%,
          var(--system-dark-200-16) 85%,
          transparent 85%,
          transparent 90%,
          var(--system-dark-200-16) 90%,
          var(--system-dark-200-16) 95%,
          transparent 95%,
          transparent
        );
      }
    }

    & h3 {
      text-wrap: balance;
      text-decoration: underline transparent;
      transition: text-decoration-color 0.25s;
      font-size: var(--font-size-3);
      &:hover,
      &:focus-visible {
        text-decoration-color: var(--system-dark-300);
        transition: text-decoration-color 0.4s;
      }
    }

    & p {
      font-size: var(--font-size-2);
      white-space: pre-line;
    }

    & .date {
      margin-left: auto;
      color: light-dark(var(--verdigris-600), var(--verdigris-500));
      font-weight: 600;
      font-size: var(--font-size-1);
      font-style: italic;
    }
  }
}

/* break-point--medium (768px) minus 32px padding */
@container carousel (width <= 736px) {
  /* Create a full-width illusion of the carousel */
  :global(#carouselList) {
    margin-inline: -1rem;
    inline-size: calc(100cqi + 2rem);
  }
}

.controls {
  --controls-height: 32px;
  top: calc(50% - var(--controls-height) / 2);
  inset-inline: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 0;
  & li {
    width: fit-content;
    z-index: 1;
    display: block;
  }

  & button {
    height: var(--controls-height);
    color: var(--verdigris-100);
    border-radius: var(--border-radius-balloon);
    width: var(--controls-height);
    border: 2px solid var(--verdigris-300);
    background-color: var(--verdigris-500);
    box-shadow:
      var(--verdigris-100-op) 0px 0px 0px 5px,
      var(--stacks-6-Shadow);
    transition:
      transform 0.4s ease,
      background-color 0.3s ease-in-out;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline-offset: var(--outline-offset);
    /* Avoid the chevron looking off center */
    &#previous svg {
      margin-right: 2px;
    }
    &:hover,
    &:focus-visible {
      background-color: var(--system-light-300);
      color: light-dark(var(--verdigris-500), var(--verdigris-100));
      transform: scale(1.2);
    }
  }

  & .indicators {
    display: none;
    aspect-ratio: calc((var(--card-length) + 1) * 15) / 10;
    @supports (animation-timeline: view()) {
      display: flex;
      timeline-scope: slide-in;
    }
    & div {
      --gradient-color: light-dark(
        var(--system-shadow-7),
        var(--system-dark-200-16)
      );
      background: linear-gradient(var(--gradient-color), var(--gradient-color))
        padding-box;
      flex: 1;
      border-radius: 100px;
      height: 100%;
      min-width: 15px;
      padding: 0;
      position: relative;
      border: 2px solid transparent;
      @supports (animation-timeline: view()) {
        --buffer: calc(var(--card-width) * 0.9);
        -webkit-animation: blink both linear;
        animation: expand both linear;

        animation-range: contain calc(50% - var(--buffer)) contain
          calc(50% + var(--buffer));
      }
    }
  }
  & hr {
    display: block;
    width: 200px;
    @supports (animation-timeline: view()) {
      display: none;
    }
  }
}
