---
import { isExternalLink } from '@utils/misc';
type Props = {
  href: string | undefined;
};

const { href } = Astro.props;
const isExtURL = href ? isExternalLink(href) : false;
---

{
  href ? (
    <a
      {...(isExtURL ? { target: '_blank', rel: 'noreferrer' } : {})}
      href={href}
    >
      <slot />
    </a>
  ) : (
    <>
      <slot />
    </>
  )
}
