@keyframes pulsate {
  50% {
    transform: scale(120%);
  }
  0%,
  100% {
    transform: scale(1);
  }
}

@keyframes expandControls {
  50% {
    flex: 3;
  }
}

.headerContent {
  /** Avoid headerImage being layered behind the header in Firefox */
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-between;
  height: 220px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
  position: relative;
  & a {
    position: absolute;
    overflow: hidden;
    inset: 0;
    outline-offset: -4px;
  }
  & .picture {
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
    &[data-animated] {
      @media (prefers-reduced-motion: no-preference) {
        --gentle-overshoot: cubic-bezier(0.14, 0.34, 0.08, 0.99);
        animation: pulsate var(--gentle-overshoot) 30s
          var(--animation-delay, 0s) infinite;
      }
    }
    & img {
      object-position: center 40%;
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        transparent 0%,
        transparent 60%,
        color-mix(in hsl, var(--system-dark-300-80), transparent 84%) 74%,
        color-mix(in hsl, var(--system-dark-300-80), transparent 68%) 83%,
        color-mix(in hsl, var(--system-dark-300-80), transparent 40%) 100%
      );
    }
  }
  & h2 {
    align-self: flex-end;
    text-transform: uppercase;
    font-size: var(--font-size-4);
    letter-spacing: 2px;
    font-weight: 800;
    line-height: 0.56;
    text-wrap: nowrap;
    color: light-dark(var(--system-light-200), var(--system-light-300));
    margin-block-end: unset;
    margin-inline: 32px;
  }
  @container card (width >= 400px) {
    & h2 {
      font-size: var(--font-size-5);
      line-height: 0.58;
    }
  }
}

.cardContent {
  padding-inline: 32px;
  padding-block: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  & li,
  & p {
    color: light-dark(var(--system-dark-200), var(--system-dark-100));
  }
}

.dateWrapper {
  display: flex;
  gap: 8px;
  color: var(--system-dark-300-80);
  align-items: center;
  margin-block-end: 0.5rem;
  & p {
    color: currentColor;
    font-weight: 500;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  margin-block-start: 1rem;
  margin-block-end: 0;
  padding-inline-start: 0;
  & li {
    display: contents;
    & .tag {
      user-select: none;
      font-weight: 600;
      border-radius: var(--border-radius-lg);
      font-size: var(--font-size-2);
      padding: 4px 10px;
      &:is(a) {
        background: linear-gradient(
          180deg,
          var(--aquamarine-600),
          var(--aquamarine-700) 130%
        );
        outline-offset: var(--outline-offset);
        color: light-dark(var(--system-light-100), var(--system-light-300));
        text-decoration: unset;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 0 0 0 var(--color);
        &:hover,
        &:focus-visible {
          box-shadow: 0 0 0 3px
            light-dark(var(--system-light-400), var(--system-dark-200-16));
        }
        &:active {
          filter: brightness(0.8);
        }
      }
      &:is(span) {
        box-shadow: inset 0 0 0 2px var(--aquamarine-700);
        color: var(--aquamarine-700);
      }
    }
  }
}

.footerImagesWrapper {
  margin-top: auto;
  content-visibility: auto;
  @supports (animation-timeline: scroll()) {
    timeline-scope: --one, --two, --three, --four, --five;
  }
}

.footerImages {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none; /* Firefox 64 */
  inline-size: 100cqi;
  scroll-behavior: smooth;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scroll-snap-align: start;
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);

  & li {
    scroll-snap-align: start;
    display: block;
    position: relative;
    width: 100cqi;
    height: 220px;
    @supports (animation-timeline: scroll()) {
      &:nth-of-type(1) {
        view-timeline: --one inline;
      }
      &:nth-of-type(2) {
        view-timeline: --two inline;
      }
      &:nth-of-type(3) {
        view-timeline: --three inline;
      }
      &:nth-of-type(4) {
        view-timeline: --four inline;
      }
      &:nth-of-type(5) {
        view-timeline: --five inline;
      }
    }
    & .picture {
      height: 100%;
    }
  }
}

.controls {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  margin-block: 12px;
  list-style-type: none;
  aspect-ratio: calc(var(--slide-length) / 1);
  @supports (animation-timeline: view()) {
    aspect-ratio: calc(var(--slide-length) + 1 / 1);
  }
}

.control {
  display: block;
  height: fit-content;
  flex: 1;
  border: 5px solid transparent;
  transition: width 0.3s ease-in-out;
  @supports (animation-timeline: view()) {
    &:nth-of-type(1) {
      animation-timeline: --one;
    }
    &:nth-of-type(2) {
      animation-timeline: --two;
    }
    &:nth-of-type(3) {
      animation-timeline: --three;
    }
    &:nth-of-type(4) {
      animation-timeline: --four;
    }
    &:nth-of-type(5) {
      animation-timeline: --five;
    }
    scroll-timeline-axis: inline;
    animation: expandControls;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
  & a {
    height: 1rem;
    min-width: 1rem;
    display: block;
    outline-offset: var(--outline-offset);
    background-color: light-dark(
      var(--system-light-300),
      var(--system-light-400)
    );
    border-radius: var(--border-radius-lg);
    box-shadow:
      0px 0px 2px #00000040,
      0px 4px 8px #00000080;
  }
}
