.headerContent {
  display: flex;
  justify-content: space-between;
  z-index: -1;
  height: 220px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
  position: relative;
  & .picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        transparent 0%,
        transparent 60%,
        var(--system-dark-300) 110%
      );
    }
  }
  & h2 {
    view-transition-name: work-card-header-title;
    align-self: flex-end;
    text-transform: uppercase;
    font-size: var(--font-size-5);
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 0.6;
    text-wrap: nowrap;
    color: light-dark(var(--system-light-100), var(--system-light-300));
    margin-block-end: unset;
    margin-inline: 32px;
    z-index: 1;
  }
}

.cardContent {
  view-transition-name: work-card-content;
  padding-inline: 32px;
  padding-block: 24px;
}

.dateWrapper {
  display: flex;
  gap: 8px;
  color: var(--system-dark-300-55);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  & li {
    height: fit-content;
    & a {
      background-color: light-dark(
        var(--aquamarine-600),
        var(--aquamarine-500)
      );
      outline-offset: var(--outline-offset);
      color: light-dark(var(--verdigris-100), var(--system-light-300));
      font-weight: 600;
      border-radius: var(--border-radius-lg);
      text-decoration: unset;
      font-size: var(--font-size-2);
      padding: 4px 10px;
    }
  }
}
