<svg
  xmlns="http://www.w3.org/2000/svg"
  width="77"
  height="20"
  viewBox="0 0 77 20"
  fill="currentColor"
  style="margin-top: 2px;"
>
  <title>Astro</title>
  <path
    d="M5.43742 17.0344C4.5313 16.2084 4.26675 14.473 4.64428 13.2158C5.29888 14.0084 6.20589 14.2596 7.14536 14.4012C8.59571 14.62 10.0201 14.5382 11.3674 13.8772C11.5215 13.8016 11.6639 13.7008 11.8323 13.599C11.9588 13.9646 11.9917 14.3338 11.9475 14.7096C11.8401 15.6248 11.3834 16.3318 10.6569 16.8676C10.3664 17.082 10.059 17.2736 9.759 17.4758C8.83728 18.0968 8.58791 18.8251 8.93426 19.8847C8.94249 19.9105 8.94985 19.9363 8.96846 19.9993C8.49787 19.7893 8.1541 19.4835 7.89218 19.0815C7.61553 18.6571 7.48391 18.1878 7.47699 17.68C7.47352 17.4328 7.47352 17.1834 7.44018 16.9398C7.35879 16.3458 7.07912 16.0798 6.55223 16.0644C6.01149 16.0488 5.58376 16.382 5.47032 16.907C5.46167 16.9472 5.44912 16.987 5.43656 17.0338L5.43742 17.0344Z"
    fill-opacity="0.8"></path>
  <path
    d="M0.265625 13.0066C0.265625 13.0066 2.94884 11.7034 5.63956 11.7034L7.66828 5.44303C7.74424 5.14027 7.966 4.93451 8.21636 4.93451C8.46672 4.93451 8.6885 5.14027 8.76446 5.44303L10.7932 11.7034C13.9799 11.7034 16.1672 13.0066 16.1672 13.0066C16.1672 13.0066 11.6094 0.626592 11.6005 0.601752C11.4697 0.235737 11.2489 0 10.9512 0H5.48203C5.18432 0 4.97241 0.235737 4.83268 0.601752C4.82284 0.626132 0.265625 13.0066 0.265625 13.0066Z"
    fill-opacity="0.8"></path>
  <path
    d="M28.5555 9.02409C28.5555 10.1211 27.187 10.7763 25.2921 10.7763C24.0588 10.7763 23.6227 10.4716 23.6227 9.83162C23.6227 9.16121 24.1641 8.84125 25.3972 8.84125C26.5103 8.84125 27.4576 8.85647 28.5555 8.99361V9.02409ZM28.5704 7.66803C27.8938 7.51567 26.8711 7.42425 25.653 7.42425C22.1038 7.42425 20.4346 8.26226 20.4346 10.2125C20.4346 12.239 21.5775 13.0161 24.2243 13.0161C26.4651 13.0161 27.9839 12.4523 28.5405 11.0658H28.6306C28.6155 11.401 28.6005 11.7362 28.6005 11.9952C28.6005 12.7113 28.7208 12.7723 29.3073 12.7723H32.0745C31.924 12.3457 31.8338 11.142 31.8338 10.1059C31.8338 8.99361 31.8789 8.1556 31.8789 7.0281C31.8789 4.72737 30.4955 3.26465 26.1643 3.26465C24.2995 3.26465 22.2241 3.58462 20.6452 4.05696C20.7954 4.68165 21.006 5.94629 21.1113 6.76906C22.4799 6.12913 24.4198 5.85487 25.9238 5.85487C27.9989 5.85487 28.5704 6.32721 28.5704 7.28711V7.66803Z"
    fill-opacity="0.8"></path>
  <path
    d="M36.1632 9.66343C35.7873 9.70913 35.2758 9.70913 34.7495 9.70913C34.1931 9.70913 33.6818 9.69391 33.3358 9.64819C33.3358 9.77009 33.3208 9.90721 33.3208 10.0291C33.3208 11.9337 34.569 13.0459 38.9604 13.0459C43.0959 13.0459 44.4344 11.9489 44.4344 10.0139C44.4344 8.18547 43.5472 7.28652 39.6221 7.08845C36.5691 6.95131 36.2986 6.61611 36.2986 6.2352C36.2986 5.79334 36.6895 5.56479 38.7348 5.56479C40.8553 5.56479 41.4267 5.85428 41.4267 6.46375V6.60087C41.7274 6.58563 42.2689 6.57041 42.8253 6.57041C43.3517 6.57041 43.9231 6.58563 44.2541 6.61611C44.2541 6.47897 44.2691 6.3571 44.2691 6.25044C44.2691 4.01065 42.4041 3.2793 38.7949 3.2793C34.7345 3.2793 33.3659 4.26968 33.3659 6.20472C33.3659 7.94169 34.4639 9.0235 38.3589 9.1911C41.2312 9.28252 41.5471 9.60249 41.5471 10.0443C41.5471 10.5167 41.0807 10.73 39.0657 10.73C36.7497 10.73 36.1632 10.41 36.1632 9.75485V9.66343Z"
    fill-opacity="0.8"></path>
  <path
    d="M49.3978 1.63379C48.3 2.65466 46.3299 3.6755 45.2322 3.94976C45.2472 4.51351 45.2472 5.5496 45.2472 6.11335L46.2547 6.12859C46.2397 7.21039 46.2246 8.52074 46.2246 9.38923C46.2246 11.4157 47.2923 12.9394 50.6159 12.9394C52.0145 12.9394 52.947 12.787 54.1049 12.5432C53.9846 11.7966 53.8492 10.6538 53.804 9.78538C53.1122 10.0139 52.2401 10.1358 51.2776 10.1358C49.9391 10.1358 49.3978 9.77014 49.3978 8.71881C49.3978 7.80463 49.3978 6.95136 49.4128 6.15907C51.1271 6.17431 52.8417 6.20477 53.8492 6.23525C53.8341 5.44294 53.8642 4.30019 53.9093 3.53836C52.4505 3.56884 50.8114 3.58408 49.4579 3.58408C49.473 2.91367 49.488 2.27374 49.5031 1.63379H49.3978Z"
    fill-opacity="0.8"></path>
  <path
    d="M58.3801 5.65604C58.3951 4.86373 58.4102 4.19334 58.4252 3.53815H55.4023C55.4475 4.84851 55.4475 6.18933 55.4475 8.15485C55.4475 10.1204 55.4324 11.4764 55.4023 12.7715H58.8613C58.8011 11.8573 58.7861 10.3184 58.7861 9.00809C58.7861 6.93592 59.6283 6.34169 61.5382 6.34169C62.4255 6.34169 63.0572 6.44835 63.6136 6.64643C63.6286 5.86936 63.779 4.36094 63.8691 3.69053C63.2977 3.52293 62.666 3.41627 61.899 3.41627C60.2599 3.40103 59.0569 4.07144 58.5005 5.67128L58.3801 5.65604Z"
    fill-opacity="0.8"></path>
  <path
    d="M73.4377 8.09483C73.4377 9.75563 72.2346 10.5327 70.3398 10.5327C68.46 10.5327 67.2569 9.80133 67.2569 8.09483C67.2569 6.38833 68.475 5.7484 70.3398 5.7484C72.2196 5.7484 73.4377 6.43405 73.4377 8.09483ZM76.5807 8.01865C76.5807 4.71232 73.9941 3.23438 70.3398 3.23438C66.6704 3.23438 64.1738 4.71232 64.1738 8.01865C64.1738 11.3098 66.5049 13.0773 70.3247 13.0773C74.1746 13.0773 76.5807 11.3098 76.5807 8.01865Z"
    fill-opacity="0.8"></path>
</svg>
