<svg
  xmlns="http://www.w3.org/2000/svg"
  width="67"
  height="18"
  viewBox="0 0 67 18"
  fill="currentColor"
  style="margin-bottom: 2px;"
>
  <title>Figma</title>
  <path
    d="M16.3425 0.000696775V14.0484L18.15 14.054V7.36491H22.509V5.5958H18.15V1.76841H23.8259V0L16.3425 0.000696775ZM27.0791 2.8526C27.7299 2.8526 28.2581 2.32444 28.2581 1.67365C28.2581 1.02287 27.7299 0.49471 27.0791 0.49471C26.4283 0.49471 25.9002 1.02287 25.9002 1.67365C25.9002 2.32444 26.4283 2.8526 27.0791 2.8526ZM26.1594 4.62031V14.0512H27.9668V4.62031H26.1594Z"
    fill-opacity="0.8"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M34.6711 4.3457C32.2708 4.3457 30.5957 6.37541 30.5957 8.78555C30.5957 11.1964 32.2708 13.2261 34.6711 13.2261C35.77 13.2261 36.6758 12.8004 37.3349 12.1078V13.3634C37.3349 14.9255 36.1072 16.232 34.506 16.232C33.9298 16.232 33.3577 16.009 32.902 15.6948L31.9962 17.2625C32.7195 17.7294 33.5807 17.9997 34.5053 17.9997C37.0667 17.9997 39.1423 15.924 39.1423 13.3634V4.62023H37.3349V5.46333C36.6758 4.77074 35.77 4.3457 34.6711 4.3457ZM32.4031 8.78555C32.4031 7.28958 33.5479 6.11342 34.8676 6.11342C36.1873 6.11342 37.3321 7.28958 37.3321 8.78555C37.3321 10.2815 36.1873 11.4577 34.8676 11.4577C33.5479 11.4577 32.4031 10.2815 32.4031 8.78555Z"
    fill-opacity="0.8"></path>
  <path
    d="M45.6557 6.11412C44.5861 6.11412 43.72 7.01992 43.72 8.08878V14.0518H41.9126V4.62023H43.72V5.48423C44.2496 4.8 45.03 4.3457 46.048 4.3457C47.3147 4.3457 48.2867 4.97489 48.849 5.93714C49.4761 5.00764 50.4969 4.3457 51.726 4.3457C53.7829 4.3457 55.0635 6.00542 55.0761 8.05882V14.0511H53.2679V8.08808C53.2679 7.01923 52.4018 6.11342 51.333 6.11342C50.2641 6.11342 49.3981 7.01923 49.3981 8.08808V14.0511H47.5906V8.08808C47.5906 7.01923 46.7238 6.11342 45.655 6.11342L45.6557 6.11412Z"
    fill-opacity="0.8"></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M64.7028 5.69048C63.8987 4.85992 62.7971 4.3457 61.5199 4.3457C58.8304 4.3457 56.9226 6.62276 56.9226 9.3367C56.9226 12.0499 58.8311 14.327 61.5199 14.327C62.7971 14.327 63.8987 13.8128 64.7028 12.9822V14.0518H66.5102V4.62023H64.7028V5.68978V5.69048ZM58.73 9.3367C58.73 7.53624 60.1083 6.11412 61.7164 6.11412C63.3246 6.11412 64.7028 7.53554 64.7028 9.3367C64.7028 11.1365 63.3246 12.5586 61.7164 12.5586C60.1083 12.5586 58.73 11.1372 58.73 9.3367Z"
    fill-opacity="0.8"></path>
  <path
    d="M3.41948 18.0001C5.07551 18.0001 6.41953 16.6561 6.41953 15V12H3.41948C1.76346 12 0.419434 13.344 0.419434 15C0.419434 16.6561 1.76346 18.0001 3.41948 18.0001Z"
  ></path>
  <path
    d="M0.419434 9.00005C0.419434 7.34402 1.76346 6 3.41948 6H6.41953V12.0001H3.41948C1.76346 12.0001 0.419434 10.6561 0.419434 9.00005Z"
    fill-opacity="0.55"></path>
  <path
    d="M0.419434 3.00005C0.419434 1.34402 1.76346 0 3.41948 0H6.41953V6.0001H3.41948C1.76346 6.0001 0.419434 4.65607 0.419434 3.00005Z"
  ></path>
  <path
    d="M6.41943 0H9.41948C11.0755 0 12.4195 1.34402 12.4195 3.00005C12.4195 4.65607 11.0755 6.0001 9.41948 6.0001H6.41943V0Z"
    fill-opacity="0.8"></path>
  <path
    d="M12.4195 9.00005C12.4195 10.6561 11.0755 12.0001 9.41948 12.0001C7.76346 12.0001 6.41943 10.6561 6.41943 9.00005C6.41943 7.34402 7.76346 6 9.41948 6C11.0755 6 12.4195 7.34402 12.4195 9.00005Z"
  ></path>
</svg>
