@layer components {
  .footer {
    view-transition-name: footer;
    grid-column: 1 / -1;
    --border-color: light-dark(
      var(--verdigris-100-op),
      var(--system-dark-200-16)
    );
    padding: 0;
    background-color: color-mix(
      in hsl,
      var(--system-light-300-55),
      transparent 85%
    );
    border-top: 1px solid var(--system-light-300-55);
    box-shadow: var(--stacks-6-shadow);
    overflow: hidden;
    position: relative;
  }

  :root[data-theme='dark'] footer::before {
    mix-blend-mode: soft-light;
  }

  @media (prefers-color-scheme: dark) {
    :root[data-theme='system'] footer::before {
      mix-blend-mode: soft-light;
    }
  }

  .someLinks {
    grid-row: 4;
    margin-inline: auto;
    justify-self: center;
  }

  .footerContent {
    display: grid;
    row-gap: 16px;
    max-width: var(--break-point--2-xl);
    margin-inline: auto;
    padding: 2rem;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: center;
      padding-inline: 1rem;
      padding-bottom: 1rem;
      margin-bottom: 6rem;
      & > * {
        grid-column: 1/3;
      }
    }

    & .footerMenu {
      & div {
        display: flex;
        justify-content: center;
        row-gap: 16px;
        column-gap: 32px;
        flex-wrap: wrap;
        & a {
          text-wrap: nowrap;
        }
      }
    }

    & nav {
      margin-inline: auto;
      grid-row: 1;
      & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }

    & nav,
    & .credentials,
    & .copyright {
      & a,
      & p {
        color: light-dark(var(--system-dark-200), var(--system-dark-300-80));
      }
      & p {
        white-space: pre;
      }
      & a {
        font-weight: var(--system-weight-600);
        user-select: none;
        border-radius: var(--border-radius-sm);
        outline-offset: var(--outline-offset);
        text-decoration: underline transparent;
        transition: text-decoration-color 300ms;
        transition-timing-function: linear;
        &:hover,
        &:focus-visible {
          text-decoration-color: currentColor;
        }
        &[data-current] {
          cursor: default;
          pointer-events: none;
        }
      }
    }
    & .copyright p {
      white-space-collapse: collapse;
    }
  }

  .credentials {
    display: contents;
    & ul {
      display: grid;
      justify-content: center;
      column-gap: 16px;
      row-gap: 8px;
      grid-template-columns: subgrid;
      grid-template-rows: 1fr 1fr;
      margin-inline: auto;
      margin-top: 8px;
      padding: 0;
      grid-column: 1/3;
    }
    & li {
      display: flex;
      align-items: center;
      gap: 4px;
      &:nth-child(odd) {
        justify-self: flex-end;
      }
    }

    & .footerIcon {
      mask-size: contain;
      mask-repeat: no-repeat;
      width: auto;
      height: auto;
      background-color: currentColor;
    }
    & p {
      font-size: var(--font-size-2);
      font-weight: var(--system-weight-400);
    }
  }

  .copyright {
    margin-inline: auto;
    grid-row: 3;
    & > p {
      white-space: normal;
      font-size: var(--font-size-2);
      line-height: 1.5;
      font-weight: var(--system-weight-300);
    }
    & > span {
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      width: fit-content;
      font-size: var(--font-size-1);
      & p:nth-child(1) {
        background-color: light-dark(
          var(--system-dark-200),
          var(--system-light-400)
        );
        color: light-dark(var(--system-light-100), var(--system-dark-300));
        border-top-left-radius: var(--border-radius-sm);
        border-top-right-radius: var(--border-radius-sm);
        margin-top: 4px;
        font-weight: var(--system-weight-300);
        padding: 4px 8px 2px;
      }
      & > p:nth-child(2) {
        background-color: light-dark(
          var(--system-light-100),
          var(--system-dark-300-80)
        );
        color: light-dark(var(--system-dark-200), var(--system-light-300));
        font-weight: var(--system-weight-500);
        padding: 2px 8px 4px;
        border-bottom-left-radius: var(--border-radius-sm);
        border-bottom-right-radius: var(--border-radius-sm);
      }
      & p {
        font-size: var(--font-size-1);
        line-height: 1;
        text-align: center;
      }
    }
  }

  .sitemapIcon,
  .darkMode {
    grid-row: 5;
  }

  @media (min-width: 769px) {
    .someLinks {
      grid-row: 1;
      margin-right: 0;
    }
    .footerContent nav {
      margin-left: 0;
    }
    .copyright {
      grid-column: 1/3;
    }
    .sitemapIcon {
      grid-column: 2/3;
      grid-row: 4;
    }
    .credentials > ul {
      grid-template-columns: min-content min-content;
    }
    .darkMode {
      grid-column: 1/2;
      grid-row: 4;
    }
  }

  .sitemapIcon {
    line-height: 0;
    font-weight: var(--system-weight-600);
    margin-left: auto;
    margin-block: auto;
    border-radius: var(--border-radius-sm);
    outline-offset: var(--outline-offset);
    color: light-dark(var(--system-dark-200), var(--system-dark-300-80));
    &:hover,
    &:focus-visible,
    &:active,
    &:visited {
      color: light-dark(var(--system-dark-200), var(--system-dark-300-80));
    }
  }
}
