---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import './footer.css';
import FigmaLogo from './FigmaLogo.astro';
import AstroLogo from './AstroLogo.astro';
import NetlifyLogo from './NetlifyLogo.astro';
import GitHubLogo from './GitHubLogo.astro';
import XIcon from '@components/icons/XIcon.astro';
import LinkedInIcon from '@components/icons/LinkedInIcon.astro';
import GitHubIcon from '@components/icons/GitHubIcon.astro';
type Props = {
  inert: boolean;
};

const { inert } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'navigation');
const currentYear = new Date().getFullYear();
---

<footer inert={inert}>
  <div class="footer-content">
    <nav aria-labelledby="footerMenuTitle">
      <h2 class="sr-only" id="#footerMenuTitle">
        {t('nav_footer')}
      </h2>
      <ul>
        <li>
          <a href="work" title={t('work')}>{t('work')}</a>
          <a href="skills" title={t('skills')}>{t('skills')}</a>
          <a href="about" title={t('about')}>{t('about')}</a>
          <a href="contact" title={t('contact')}>{t('contact')}</a>
          <a href="archive" title={t('archive')}>{t('archive')}</a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      <p>
        ©&nbsp;{currentYear} | Lars Ejaas
      </p>
      <span>
        <p>
          {t('all_rights')}
        </p>
        <p>
          {t('reserved')}
        </p>
      </span>
    </div>
    <div class="credentials" aria-labelledby="credentialsTitle">
      <h2 id="credentialsTitle" class="sr-only">{t('credentials')}</h2>
      <ul>
        <li>
          <p>{t('designed_in')}</p>
          <a href="https://figma.com" target="_blank" rel="noopener noreferrer">
            <FigmaLogo />
          </a>
        </li>
        <li>
          <p>{t('build_with')}</p>
          <a
            href="https://astro.build"
            target="_blank"
            rel="noopener noreferrer"
          >
            <AstroLogo />
          </a>
        </li>
        <li>
          <p>{t('deployed_on')}</p>
          <a
            href="https://netlify.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <NetlifyLogo />
          </a>
        </li>
        <li>
          <p>{t('repo_on')}</p>
          <a
            href="https://github.com/LarsEjaas/lars-ejaas-portfolio-v2"
            target="_blank"
            rel="noopener noreferrer"
          >
            <GitHubLogo />
          </a>
        </li>
      </ul>
    </div>
    <div class="social-links" aria-labelledby="socialLinksTitle">
      <h2 id="socialLinksTitle" class="sr-only">{t('follow_me')}</h2>
      <ul>
        <li>
          <a
            href="https://x.com/intent/follow?original_referer=https%3A%2F%2Fpublish.twitter.com%2F&ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Efollow%7Ctwgr%5ELarsEjaas&screen_name=LarsEjaas"
            target="_blank"
            rel="noopener noreferrer"
            aria-label={t('x_label')}
          >
            <XIcon title={t('x_label')} />
          </a>
        </li>
        <li>
          <a
            href="https://linkedin.com/in/lars-ejaas"
            target="_blank"
            rel="noopener noreferrer"
            aria-label={t('linkedin_label')}
          >
            <LinkedInIcon title={t('linkedin_label')} />
          </a>
        </li>
        <li>
          <a
            href="https://github.com/LarsEjaas"
            target="_blank"
            rel="noopener noreferrer"
            aria-label={t('github_label')}
          >
            <GitHubIcon title={t('github_label')} />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
