---
import {
  getLangFromUrl,
  removeTrailingSlash,
  useTranslatedPath,
  useTranslations,
} from '@i18n/utils';
import { appRoutes } from '@i18n/routes';

type Props = {
  withModalLinks?: boolean;
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'navigation');
const translatePath = useTranslatedPath(lang);
const contactUrl = `${removeTrailingSlash(Astro.url.pathname)}/${appRoutes[lang].contact}/`;

const { withModalLinks = true } = Astro.props;
---

<script>
  import { initializeKeyboardArrowNavigation } from '@utils/keyboardArrowNavigation';

  if (window.footerMenuNavigation) {
    initializeKeyboardArrowNavigation(window.footerMenuNavigation);
  }
</script>
<nav id="footerMenuNavigation" role="listbox">
  <h2 class="sr-only" id="footerMenuTitle">
    {t('nav_footer')}
  </h2>
  <ul
    role="group"
    aria-keyshortcuts="ArrowLeft ArrowRight"
    aria-labeledby="footerMenuTitle"
  >
    <li>
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/work/')}
        title={t('work')}>{t('work')}</a
      >
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/skills/')}
        title={t('skills')}>{t('skills')}</a
      >
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/about/')}
        title={t('about')}>{t('about')}</a
      >
      {
        withModalLinks && (
          <a
            data-arrow-nav="true"
            role="option"
            href={contactUrl}
            title={t('contact')}
          >
            {t('contact')}
          </a>
        )
      }
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/archive/')}
        title={t('archive')}>{t('archive')}</a
      >
    </li>
  </ul>
</nav>
