---
import {
  getLangFromUrl,
  removeTrailingSlash,
  useTranslatedPath,
  useTranslations,
} from '@i18n/utils';
import { appRoutes } from '@i18n/routes';
import styles from './footer.module.css';

type Props = {
  withModalLinks?: boolean;
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, 'navigation');
const translatePath = useTranslatedPath(lang);
const contactUrl = `${removeTrailingSlash(Astro.url.pathname)}/${appRoutes[lang].contact}/`;

const { withModalLinks = true } = Astro.props;
---

<script>
  import { initializeKeyboardArrowNavigation } from '@utils/keyboardArrowNavigation';
  import { storeScrollPositionOnClick } from '@utils/scrollPosition';

  if (window.footerMenuNavigation) {
    initializeKeyboardArrowNavigation(window.footerMenuNavigation);
  }
  if (window.footerMenuContact) {
    storeScrollPositionOnClick(window.footerMenuContact);
  }
</script>
<nav id="footerMenuNavigation" role="listbox" class={styles.footerMenu}>
  <h2 class="sr-only" id="footerMenuTitle">
    {t('nav_footer')}
  </h2>
  <ul
    role="menu"
    aria-keyshortcuts="ArrowLeft ArrowRight"
    aria-labeledby="footerMenuTitle"
  >
    <li role="none">
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/work/')}
        data-current={Astro.url.pathname === translatePath('/work/') ||
          undefined}
        title={t('work')}>{t('work')}</a
      >
    </li>
    <li role="none">
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/skills/')}
        data-current={Astro.url.pathname === translatePath('/skills/') ||
          undefined}
        title={t('skills')}>{t('skills')}</a
      >
    </li>
    <li role="none">
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/about/')}
        data-current={Astro.url.pathname === translatePath('/about/') ||
          undefined}
        title={t('about')}>{t('about')}</a
      >
    </li>
    {
      withModalLinks && (
        <li role="none">
          <a
            id="footerMenuContact"
            data-arrow-nav="true"
            role="option"
            href={contactUrl}
            title={t('contact')}
          >
            {t('contact')}
          </a>
        </li>
      )
    }
    <li role="none">
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/archive/')}
        data-current={Astro.url.pathname === translatePath('/archive/') ||
          undefined}
        title={t('archive')}>{t('archive')}</a
      >
    </li>
    <li role="none">
      <a
        data-arrow-nav="true"
        role="option"
        href={translatePath('/privacy-policy/')}
        data-current={Astro.url.pathname ===
          translatePath('/privacy-policy/') || undefined}
        title={t('privacy_policy')}>{t('privacy_policy')}</a
      >
    </li>
  </ul>
</nav>
