---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="currentColor"
>
  <title>{title}</title>
  <path
    d="M4.19355 0C1.87097 0 0 1.87097 0 4.19355V19.8065C0 22.129 1.87097 24 4.19355 24H19.8065C22.129 24 24 22.129 24 19.8065V4.19355C24 1.87097 22.129 0 19.8065 0H4.19355ZM4.6129 4.45161H9.01613L12.8387 10L17.6129 4.45161H18.9177L13.4177 10.8387H13.4174L19.4013 19.5484H14.9981L10.9658 13.6935L5.91743 19.5484H4.61259L10.3707 12.8387L4.61259 4.45161H4.6129ZM8.3871 5.42097L6.3871 5.433L11.6129 12.9169V12.9172L15.5968 18.6107H17.5968L8.3871 5.41715V5.42097Z"
  ></path>
</svg>
