@layer components {
  .profileTimeline {
    position: absolute;
    top: auto;
    left: 1rem;
    z-index: 10;
    height: var(--article-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    color: light-dark(var(--system-shadow-7), var(--system-light-400));
  }

  .timelineDivider {
    flex: 1 0 auto;
    width: 2px;
    background-color: currentColor;
  }
}
