.presentation {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.presentationCardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: pre-line;
  & ul {
    padding-inline-start: 20px;
  }
}

.article {
  grid-column: 1/4;
  max-width: 68ch;
}
