.firstGridColumn {
  grid-column: 1 / 2;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 242px);
  gap: 1rem;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.articleCard {
  display: block;
  position: relative;
  height: 100%;
  width: 242px;
  text-decoration: none;
  outline-offset: var(--outline-offset);
  border-radius: var(--border-radius-md);
  box-shadow: var(--stacks-5-shadow);
  &:hover h3,
  &:focus-visible h3 {
    text-decoration-color: var(--system-dark-300);
    transition: text-decoration-color 0.4s;
  }
}

.animationTimeline {
  display: contents;
  @supports (animation-timeline: view()) and (animation-range: auto) {
    @media (prefers-reduced-motion: no-preference) {
      & .animatedWorkCard,
      & .animatedText:not([data-mobile-animation='false']),
      & .articleCard {
        animation: var(--animation-scale-up);
        animation-timeline: view();
        animation-range: var(--scale-up-animation-range);
      }
    }
  }
  @media (max-width: 768px) {
    & .baloons {
      grid-row: 4;
      @supports (animation-timeline: view()) {
        @supports (animation-timeline: view()) and (animation-range: auto) {
          animation: var(--animation-scale-up);
          animation-timeline: view();
          animation-range: var(--scale-up-animation-range);
        }
      }
    }
    & .animatedWorkCard[data-mobile-animation='false'] {
      animation: none;
    }
  }
}
