.timelineSection {
  container-name: timelineSection;
  container-type: inline-size;
  grid-column: 1 / -1;
}

.baloons {
  @media (max-width: 768px) {
    grid-row: 4;
    width: min(500px, 100%);
    justify-self: center;
  }
  > div {
    max-height: 272px;
  }
}
