@layer reset {
  * {
    box-sizing: border-box;
    margin: 0;
    letter-spacing: calc(var(--letter-spacing) + var(--letter-spacing-adjust));
  }

  picture {
    line-height: 0;
  }

  picture {
    display: block;
    max-width: 100%;
  }

  picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img,
  a {
    -webkit-user-drag: none;
  }
}

@layer global {
  @view-transition {
    navigation: auto;
  }

  @media (prefers-reduced-motion) {
    @view-transition {
      navigation: none;
    }

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
      animation-duration: 0 !important;
    }
  }

  @keyframes modalFadeOut {
    from {
      opacity: 1;
    }
    to {
      /* Avoid visual glitches from mix-blend-mode by animating opacity to 0.01 instead of 0 */
      opacity: 0.01;
    }
  }

  @keyframes scale-out {
    to {
      transform: scale(0.9) translateY(-30px);
      /* Avoid visual glitches from mix-blend-mode by animating opacity to 0.01 instead of 0 */
      opacity: 0.01;
    }
  }

  @keyframes scale-up {
    0% {
      transform: scale(0.8) translateY(40px);
      opacity: 0;
    }
  }

  ::view-transition-old(lightbox-backdrop),
  ::view-transition-old(dialog-backdrop) {
    animation: modalFadeOut 300ms 100ms ease-in both;
  }

  ::view-transition-old(dialog) {
    animation: 300ms scale-out ease-in both;
    position: fixed;
    transform-origin: top center;
  }

  ::view-transition-group(header),
  ::view-transition-group(mobile-menu) {
    z-index: 50;
  }

  ::view-transition-group(dialog-backdrop),
  ::view-transition-group(lightbox-backdrop) {
    z-index: 100;
  }

  ::view-transition-group(dialog),
  ::view-transition-group(lightbox) {
    z-index: 101;
  }

  :root {
    /* light/dark mode color variables*/
    --system-light-100: light-dark(#fff, #000);
    --system-light-200: light-dark(#f9fafa, #171c1c);
    --system-light-300: light-dark(#eef1f1, #323d3e);
    --system-light-300-80: light-dark(#eef1f1cc, #323d3ecc);
    --system-light-300-55: light-dark(#eef1f18c, #323d3e8c);
    --system-light-400: light-dark(#e3e8e8, #4e5f60);
    --system-light-500: light-dark(#d8dfdf, #698081);
    --system-dark-100: light-dark(#698081, #d8dfdf);
    --system-dark-200: light-dark(#4e5f60, #e3e8e8);
    --system-dark-200-16: light-dark(#4e5f6029, #e3e8e829);
    --system-dark-300: light-dark(#323d3e, #eef1f1);
    --system-dark-300-80: light-dark(#323d3ecc, #eef1f1cc);
    --system-dark-300-55: light-dark(#323d3e8c, #eef1f18c);
    --system-dark-400: light-dark(#171c1c, #f9fafa);
    --system-dark-500: light-dark(#000, #fff);
    --system-shadow-1: light-dark(#60617152, #00000052);
    --system-shadow-2: light-dark(#28293d0a, #0000000a);
    --system-shadow-4: light-dark(#28293d14, #00000014);
    --system-shadow-5: light-dark(#6061703d, #0000003d);
    --system-shadow-6: light-dark(#60617029, #00000029);
    --system-shadow-7: light-dark(#60617045, #00000045);
    /* global color variables */
    --bluemunsell: #048ba8;
    --primary-lighter: #05a3c7;
    --verdigris-100: #c9fbed;
    --verdigris-100-op: #c9fbed9c;
    --verdigris-200: #94f7e4;
    --verdigris-300: #5de9d9;
    --verdigris-300-op: #5de9d9cc;
    --verdigris-400: #34d3cf;
    --verdigris-500: #00adb7;
    --verdigris-600: #00879d;
    --verdigris-700: #006683;
    --princeton-100: #fff0d9;
    --princeton-200: #ffddb3;
    --princeton-300: #ffc68e;
    --princeton-300-op: #ffc68e00;
    --princeton-400: #ffaf71;
    --princeton-500: #ff8a43;
    --princeton-600: #db6630;
    --princeton-700: #b74821;
    --flirt-100: #fac9d6;
    --flirt-100-tr: #fac9d650;
    --flirt-200: #f595b9;
    --flirt-300: #e35d9d;
    --flirt-300-op: #e35d9d00;
    --flirt-400: #c83489;
    --flirt-500: #a4036f;
    --flirt-600: #8d026c;
    --flirt-700: #760166;
    --flirt-800: #5f005b;
    --flirt-900: #49004e;
    --aquamarine-100: #cffdda;
    --aquamarine-100-op: #cffdda50;
    --aquamarine-200: #a0fbbf;
    --aquamarine-300: #70f4a9;
    --aquamarine-300-op: #70f4a900;
    --aquamarine-400: #4be9a0;
    --aquamarine-500: #16db93;
    --aquamarine-600: #10bc8e;
    --aquamarine-700: #0b9d85;
    --aquamarine-800: #077f76;
    --aquamarine-900: #046669;
    --font-size-1: 0.75rem; /** 12px */
    --font-size-2: 0.875rem; /** 14px */
    --font-size-3: 1rem; /* 16px */
    --font-size-4: 18px;
    --font-size-5: 1.5rem; /** 24px */
    --font-size-6: 2rem; /** 32px */
    --font-size-7: 2.25rem; /** 36px */
    --font-size-8: 2.5rem; /** 40px */
    --stacks--1-inset-shadow: 0 0.5px 4px var(--system-shadow-1) inset;
    --stacks-1-shadow:
      0px 0px 1px var(--system-shadow-2), 0px 0.5px 2px var(--system-shadow-6);
    --stacks-2-shadow:
      0px 0px 1px var(--system-shadow-2), 0px 2px 4px var(--system-shadow-6);
    --stacks-3-shadow:
      0px 0px 2px var(--system-shadow-2), 0px 4px 8px var(--system-shadow-6);
    --stacks-4-shadow:
      0px 2px 4px var(--system-shadow-2), 0px 8px 16px var(--system-shadow-6);
    --stacks-5-shadow:
      0px 2px 8px var(--system-shadow-2), 0px 16px 24px var(--system-shadow-6);
    --stacks-6-shadow:
      0px 2px 8px var(--system-shadow-4), 0px 20px 32px var(--system-shadow-5);
    --highlight: light-dark(var(--system-light-100), var(--system-dark-500));
    --shade: light-dark(var(--system-light-500), var(--system-light-100));
    --card-shadow:
      inset 0 4px 8px 2px color-mix(in hsl, var(--highlight), transparent 80%),
      inset 0 -2px 8px 2px color-mix(in hsl, var(--shade), transparent 80%);
    --card-background:
      linear-gradient(
        transparent,
        transparent calc(100% - 160px),
        light-dark(var(--system-light-400), var(--system-light-200))
      ),
      light-dark(var(--system-light-200), var(--system-light-300));
    --stacks-balloon-shadow: 10px 10px 25px var(--system-shadow-7);
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-pill: 9999px;
    --border-radius-balloon: 67% 35% 69% 36% / 47% 31% 75% 59%;
    --break-point--2-xl: 1440px;
    --break-point--xl: 1280px;
    --break-point--lg: 1024px;
    --break-point--md: 768px;
    --default-font: 'Mona-Sans', 'Arial', 'sans-serif';
    --outline-offset: 5px;
    --scrollbar-width: 12px;
    --animation-scale-up: scale-up linear both;
    --scale-up-animation-range: entry 10% entry-crossing 240px;
    --weight-multiplier: 1;
    --system-weight-100: calc(100 * var(--weight-multiplier));
    --system-weight-200: calc(200 * var(--weight-multiplier));
    --system-weight-300: calc(300 * var(--weight-multiplier));
    --system-weight-400: calc(400 * var(--weight-multiplier));
    --system-weight-500: calc(500 * var(--weight-multiplier));
    --system-weight-600: calc(600 * var(--weight-multiplier));
    --system-weight-700: calc(700 * var(--weight-multiplier));
    --system-weight-800: calc(800 * var(--weight-multiplier));
    --system-weight-900: calc(900 * var(--weight-multiplier));
    --letter-spacing: 0em; /* default */
    --letter-spacing-adjust: 0em;
    background: light-dark(#aebabb, var(--system-LIGHT_100));
    min-height: 100vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
    color-scheme: light dark;
    scroll-behavior: auto;
    /* Add a bit of padding to allow room for the sticky header. 
     This is important for progressive enhancement. As clicking anchor links
     when JS is disabled will scroll anchor elements to the top of the viewport. */
    scroll-padding-top: 80px;
    &[data-theme='dark'] {
      color-scheme: dark;
      --weight-multiplier: 0.82;
      --letter-spacing-adjust: 0.0062ch;
    }
    &[data-theme='light'] {
      color-scheme: light;
    }
    &[data-theme='system'] {
      color-scheme: light dark;
    }
    @media (prefers-color-scheme: dark) {
      &[data-theme='system'] {
        --weight-multiplier: 0.82;
        --letter-spacing-adjust: 0.0062ch;
      }
    }
    /*Scroll bars*/
    & ::-webkit-scrollbar {
      width: var(--scrollbar-width);
      height: var(--scrollbar-width);
    }
    & ::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: light-dark(var(--system-dark-100), var(--system-light-400));
    }
    & ::-webkit-scrollbar-corner {
      background-color: light-dark(
        var(--system-light-500),
        var(--system-light-200)
      );
    }
    & ::-webkit-scrollbar-track {
      background: light-dark(var(--system-light-500), var(--system-light-200));
    }
    &:has(dialog[open]) {
      overflow-y: hidden;
    }
  }

  /* transition effect when changing color theme */
  :root.theming,
  :root.theming *,
  :root.theming *::before,
  :root.theming *::after {
    transition: all 0.3s linear !important;
  }

  body {
    min-block-size: 100vh;
    height: fit-content;
    max-width: 100vw;
    font-family: var(--default-font);
    background-color: light-dark(
      var(--system-light-500),
      var(--system-light-200)
    );
    display: grid;
    grid-template-columns:
      minmax(0, 1fr) minmax(0, var(--break-point--2-xl))
      minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    position: relative;
  }

  main {
    display: grid;
    grid-template-rows: min-content;
    padding-inline: 2rem;
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    min-width: 100%;
    & .fullgrid {
      grid-column: 1 / -1;
    }

    & > *:nth-child(2n + 1):not(.fullgrid) {
      grid-column: 1 / 2;
    }

    & > * {
      min-width: 0;
    }

    &.textGrid {
      grid-template-columns: minmax(300px, 68ch);
      & .fullgrid {
        max-width: 68ch;
      }
      @media (min-width: 769px) {
        grid-template-columns: minmax(300px, 68ch) minmax(300px, 1fr);
      }
    }

    @media (min-width: 1280px) {
      max-width: 100%;
      &.threeColumnGrid {
        grid-template-columns: repeat(3, 1fr);
        & > *:nth-child(2n + 1):not(.fullgrid) {
          grid-column: unset;
        }
      }
    }
  }

  hr {
    border-style: solid;
    border-top-color: light-dark(
      var(--system-dark-200-16),
      var(--system-light-200)
    );
    border-bottom-color: light-dark(
      var(--system-light-500),
      var(--system-light-300)
    );
    border-inline-color: transparent;
  }

  h1,
  h2,
  h3,
  h4 {
    white-space: pre-line;
    color: var(--system-dark-300);
  }

  p {
    white-space: pre-line;
  }

  .squircle {
    position: relative;
    width: fit-content;
    height: fit-content;
    &[data-with-shadow] {
      &::before {
        box-shadow: var(--stacks-2-shadow);
      }
    }
    &::before {
      content: '';
      border-radius: 40%;
      inset: 0;
      position: absolute;
    }
    & img,
    & picture {
      clip-path: url(#squircle);
      display: block;
    }
  }

  .presentation {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @media (max-width: 768px) {
    main,
    footer {
      grid-template-columns: 1fr;
    }
    main {
      padding-inline: 1rem;
      column-gap: unset;
      padding-top: 0;
    }
    .fullgrid {
      grid-column: 1 / 2;
    }
  }

  .body-text {
    font-size: var(--font-size-3);
    font-weight: var(--system-weight-300);
    line-height: 1.5;
    color: light-dark(var(--system-dark-400), var(--system-dark-100));
    margin-block-end: 1rem;
  }
  .small-body-text {
    font-size: var(--font-size-2);
    font-weight: var(--system-weight-400);
    line-height: 1.5;
  }

  .stylized-capitalized-text {
    font-size: var(--font-size-2);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: light-dark(var(--system-dark-100), var(--system-dark-300));
  }

  .stylized-lead-text {
    font-size: var(--font-size-2);
    font-weight: var(--system-weight-600);
  }

  h1 {
    font-size: var(--font-size-8);
    @media (max-width: 402px) {
      font-size: var(--font-size-6);
    }
  }

  h2 {
    color: var(--system-dark-300);
    font-size: var(--font-size-6);
    margin-block-end: 1rem;
    text-wrap: balance;
    @media (max-width: 402px) {
      font-size: var(--font-size-5);
    }
  }

  h3,
  h4 {
    margin-block-end: 0.3rem;
    text-wrap: balance;
  }
}

button,
span,
input,
label,
textarea {
  font-family: var(--default-font);
}

b,
strong {
  font-weight: var(--system-weight-700);
}

.gradient {
  background-image:
    radial-gradient(
      ellipse at 70% 10%,
      color-mix(in hsl, var(--gradient-tone-100), transparent 70%) 0%,
      color-mix(in hsl, var(--gradient-tone-400), transparent 70%) 30%,
      color-mix(in hsl, var(--gradient-tone-500), transparent 70%) 100%
    ),
    linear-gradient(
      to bottom,
      var(--gradient-tone-100) 0%,
      var(--gradient-tone-400) 20%,
      var(--gradient-tone-500) 40%
    );
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  /* avoid element distorting outline for keyboard navigation */
  top: 50%;
  left: 50%;
}

@media (max-width: 768px) {
  .mobile-only {
    display: flex;
  }
  .desktop-only {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: flex;
  }
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'Mona-Sans';
  src: url('/fonts/Mona-Sans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
