.animationTimeline {
  display: contents;
  @supports (animation-timeline: view()) and (animation-range: normal) {
    @media (prefers-reduced-motion: no-preference) {
      & .animatedText:not([data-mobile-animation='false']) {
        animation: var(--animation-scale-up);
        animation-timeline: view();
        animation-range: var(--scale-up-animation-range);
      }
    }
  }
  & .baloons {
    min-height: 400px;
  @media (max-width: 768px) {
      grid-row: 4;
      @supports (animation-timeline: view()) and (animation-range: normal) {
        @media (prefers-reduced-motion: no-preference) {
          animation: var(--animation-scale-up);
          animation-timeline: view();
          animation-range: var(--scale-up-animation-range);
        }
      }
    }
  }
}

.externalLink {
  text-wrap: nowrap;
}
