.presentation {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.presentationCardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: pre-line;
  min-height: 200px;
  & ul {
    padding-inline-start: 20px;
  }
}

.proficiencyRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  margin-top: auto;
}

@media (max-width: 768px) {
  .floatingBalloons {
    grid-row: 4;
  }
}

.quote {
  composes: quote from '@layouts/home.module.css';
  --quote: var(--flirt-400);
}
