.presentationCardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: pre-line;
  min-height: 320px;
  margin-top: 0.5rem;
  & p {
    font-size: var(--font-size-3);
    font-weight: 440;
    line-height: 1.5;
    & b,
    & strong {
      color: light-dark(var(--system-dark-200), var(--system-dark-400));
    }
  }
  & ul {
    padding-inline-start: 20px;
    margin-bottom: 8px;
    & li {
      font-size: var(--font-size-3);
      font-weight: var(--system-weight-400);
      line-height: 1.5;
      &::marker {
        color: light-dark(var(--system-dark-100), var(--system-light-500));
      }
    }
  }
  & h3 {
    font-weight: var(--system-weight-700);
    line-height: 1.4em;
    margin-block-start: 8px;
    margin-block-end: 0;
    font-size: var(--font-size-3);
    color: light-dark(var(--system-dark-200), var(--system-dark-100));
  }
  & .divider {
    width: 100%;
    opacity: 0.6;
    margin-top: auto;
    padding-top: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid
      light-dark(var(--system-shadow-7), var(--system-light-300));
  }
}

.proficiencyRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  & p {
    font-weight: var(--system-weight-700);
    font-size: var(--font-size-3);
    color: light-dark(var(--system-dark-200), var(--system-dark-100));
  }
}
.balloons {
    max-width: unset;
    width: 100%;
    max-height: 478px;
  @media (max-width: 768px) {
      grid-row: 5;
      max-width: 380px;
      height: 300px;
    }
  }

.quote {
  composes: quote from '@layouts/home/home.module.css';
  --quote: var(--flirt-400);
}

.label {
  user-select: none;
  font-weight: var(--system-weight-600);
  border-radius: var(--border-radius-lg);
  font-size: var(--font-size-1);
  padding: 4px 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 4px;
  line-height: 1;
  background-color: light-dark(
    var(--system-light-500),
    var(--system-light-400)
  );
  color: var(--system-dark-200);
  text-wrap: nowrap;
  &[data-size='small'] {
    padding: 2px 6px;
    border-radius: var(--border-radius-md);
    gap: 2px;
    background-color: light-dark(
      var(--system-dark-200-16),
      var(--system-dark-200-16)
    );
    color: light-dark(var(--system-dark-200), var(--system-dark-300-80));
    font-weight: var(--system-weight-600);
    & svg {
      width: 12px;
      height: 12px;
    }
  }
}
