@media (max-width: 768px) {
  .floatingBalloons {
    grid-row: 3;
  }
}

.flexWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
  & .popoverDesc {
    margin-block-end: 0;
  }
  & :global(#sallingGroupLogo) {
    color: #004a62;
    margin-top: 1px;
  }
  & :global(#accuRankerLogo) {
    color: var(--system-dark-400);
    margin-left: 2px;
  }
}

:global(:root[data-dark-mode='true'] #sallingGroupLogo),
:global(:root[data-dark-mode='true'] #accuRankerLogo) {
  color: #fff;
}
