@layer components {
  .balloonsWrapper {
    align-self: stretch;  
    justify-self: stretch;
    margin-inline: auto;
    margin-bottom: auto;
    aspect-ratio: 1;
    max-width: min(80%, 420px);
    width: 100%;
    position: relative;
    @media (min-width: 769px) {
      grid-column: 2/-1;
    }
  }
}
