.balloons-wrapper {
  grid-column: 2/3;
  height: fit-content;
  position: relative;
}

@media (max-width: 768px) {
  .balloons-wrapper {
    grid-column: 1 / -1;
  }
}

.floating-balloons {
  aspect-ratio: 1;
  max-width: 60%;
  margin-inline: auto;
  position: relative;
}
