name: Code Quality Checks

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    env:
      FACEBOOK_APP_ID: ${{ secrets.FACEBOOK_APP_ID }}
      MAIL_USER: ${{ secrets.MAIL_USER }}
      MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
      NOREPLY_PRIVATE_EMAIL_USER: ${{ secrets.NOREPLY_PRIVATE_EMAIL_USER }}
      PRIVATE_EMAIL_USER: ${{ secrets.PRIVATE_EMAIL_USER }}
      NODE_ENV: ${{ secrets.NODE_ENV }}
      SITE_URL: ${{ secrets.SITE_URL }}
      PUBLIC_PIWIK_SITE_ID: ${{ secrets.PUBLIC_PIWIK_SITE_ID }}
      PUBLIC_PIWIK_TRACKER_URL: ${{ secrets.PUBLIC_PIWIK_TRACKER_URL }}
      PUBLIC_PIWIK_DOMAINS: ${{ secrets.PUBLIC_PIWIK_DOMAINS }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.7.0
          cache: 'npm'

      - name: Restore image cache
        uses: actions/cache@v4
        id: cache-images
        with:
          path: .cache/assets
          key: ${{ runner.os }}-astro-images-shared-v1
          restore-keys: |
            ${{ runner.os }}-astro-images-shared-v1

      - name: Install dependencies
        run: npm clean-install --include=dev

      - name: Run ESLint
        run: npm run lint

      - name: Type check
        run: npm run type-check

      - name: Build Project
        # Skip build on main branch
        if: github.ref != 'refs/heads/main'
        run: npm run build

      - name: Ensure image cache folder exists
        if: github.ref != 'refs/heads/main'
        run: |
          if [ ! -d ".cache/assets" ]; then
          mkdir -p .cache/assets
          fi

      - name: Save updated image cache
        if: github.ref != 'refs/heads/main'
        uses: actions/cache@v4
        with:
          path: .cache/assets
          key: ${{ runner.os }}-astro-images-shared-v1
